[2021-03-19 08:35] fimbault commented on #145
@agropper thxs for the clarification, if I summarize in my own words, you'd like to be able to optionally choose which AS is to be used. Is that correct?

Another use case for delegation through capabilities as @alanhkarp describes is for microservices/faas. One service might trigger many other scoped services, and JWTs are not well suited for the task (even if that's the de-facto solution today).

[2021-03-19 11:14] agropper commented on #145
@fimbault Yes. But the choice of RO having a choice is still up to the RS.

I definitely do not want to involve the **_typical_** RS in discovery of any kind with respect to the RO. That means the RS should be encouraged to use standards and publish openly (not behind any AS-RS, if they have one) everything they can about the services they provide, their policies, the structure of scopes they supp

[2021-03-19 11:20] Denisthemalice commented on #145
The answer to the implicit question raised in the title of this thread is not YES or NO.

Some clients may configured to care about the end-user privacy while some other clients may be configured as "don't' care".

- Clients configured to care about the end-user privacy will refuse to forward opaque tokens since they want to verify the privileges that have been included into the access token. If t

[2021-03-19 12:25] fimbault commented on #145
I think all of these conversations make @jricher's proposal about the rewriting of section 4 and the idea of an extension document related to the RS a welcome contribution.

[2021-03-19 13:44] Denisthemalice commented on #145
Before any re-writing, I would like to know whether **_jricher_** can agree with my previous message.

[2021-03-19 14:07] jricher commented on #145
I think your question is invalid and misleading. It is based on the false premise that exposing information in the access token to the client is a design for privacy and that by not doing that you "don't care about privacy". This is inflammatory and accusatory language and is not helpful for the discussion.

[2021-03-19 14:48] Denisthemalice commented on #114
(Section 10.4) Requesting Resources With Insufficient Access is NOT an optional element.
 Nevertheless, it is addressed in another issue.  See "Requesting resources with insufficient access" #203.

At the moment the text states:

The phrasing of section 10 should be reworded to indicate that the sub-sections 1, 2 & 3 describe optional functions.

You also wrote: "introducing the RS to the AS lets

[2021-03-19 17:46] Denisthemalice commented on #145
The same two options would be phrased this way:

Some clients may configured to inspect the content of the access token and if the inspection is successful to forward it to the RS
while some other clients may be configured to directly forward the access token to the RS.

[2021-03-19 20:20] alanhkarp commented on #145
Sorry, I neglected to send this one yesterday.  I just saw it in my Drafts
folder.  Watch for my comment on issue #145 for a followup.

Justin Richer ***@***.***> wrote:

The ship case came directly from the Navy.  Their procedures start by
setting a policy for the ship before it leaves shore.  Once at sea, the
policy needs to be adapted based on local circumstances.  The ship has its
own AS for t

[2021-03-21 05:34] tplooker commented on #221
Thanks @fimbault to generalize this beyond DIDs and relate it to your PR #220, there may be a need to communicate more detail about the subject identifier formats that the client instance supports in its request to the AS.

[2021-03-21 17:45] smartopian commented on #215
+1 to @Denisthemalice
- the notice has legally required fields needed for processing of personal data, without it, the systems has a had time transferring liability across legal and technical domains with thinks like DiD's.  (e.g. low vectors of interoperability)

 The interaction component we recommend is the semantic notice receipt framework. This is the update from the  (now 6 year old Consent

[2021-03-21 19:20] agropper commented on #215
@smartopian I have a hard time mapping the legal and jurisdictional constraints to an abstract architecture, particularly when we are in the midst of changing core definitions for roles and actors in GNAP.

We have at least one ML thread built around a use-case which is specified in terms of US law / HIPAA regulations. https://mailarchive.ietf.org/arch/msg/txauth/FPIrji3uAQDLkGtqVvC-PreMWbI/

If t

[2021-03-22 05:31] smartopian commented on #215
AH, I did take a few big leaps,

To rewind a little - and comment directly to  @Denisthemalice, I think this thread raises a few very interesting points,

"For the requested operation on the requested object, the RS should be able to indicate, if it wishes to do so, which authentication mechanism(s) may be used or which privileges are required for each AS."

-  A notice receipt from the RS would b

[2021-03-22 12:44] jricher commented on #221
In my opinion (as an individual), we need to walk a very careful line about the complexity we define around end user information like this. Presenting and receiving both identifiers and assertions is, to me, pretty straightforward. Both are self-contained bits of information that are meant to be taken in a presentation context. Moving beyond this, things could get hairy fast.

I personally think i

[2021-03-22 13:04] jricher commented on #215
In a lot of use cases, the legal relationships between the parties running/owning the client instance, the AS, and the RS are established out of band. And in many cases, there is no assumption of a legal binding between an identifier as presented in this spec and any real-world person entity.

I can see how a consent receipt data structure could be carried alongside the identifiers, assertions, an

[2021-03-22 16:32] alanhkarp commented on #145
@jricher is right.  Opaque tokens is the way to go.  Let me explain.

A group of us capability folks has been meeting every Friday morning for over 20 years.  One of the participants calls it Quaker computer science; we just sit around until someone pipes up with a topic.  It's a lot of fun, and I learn something almost every week.  This week I asked the opaque/non-opaque question.  The result was

[2021-03-22 18:05] jricher commented on #145
To me, the Alice to Bob delegation makes more sense if we think of Bob being the new end user and his client instance getting its own token, but in the context of something that Alice has allowed. So Alice never sends Bob an access token at all, but instead could be given some other artifact that Bob can present to the AS as part of his own process of getting an access token. Bob never sees Alice'

[2021-03-22 20:13] alanhkarp commented on #145
Justin Richer ***@***.***> wrote:

I agree, as long as we don't expect AS-RS to ever have heard of Bob before
issuing a token to him.

I like it.  That's exactly what I did in my Client Utility work (the
project that led to HP's E-speak product.).  Alice gave Bob a nonce and
told AS-RS, "Whoever presents this nonce gets this subset of the
permissions in this access token."

In many cases it is imp

[2021-03-23 03:14] jricher commented on #145
Here I'll use the term "AS-RS" to refer to what I've been calling the "AS" in the rest of the conversation, because I'm talking specifically about something that is tied directly to the RS.

I would even push it further to say that AS-RS might not have ever heard of Alice, either.

Revocation permission, and particularly chained revocation, is something that the AS-RS can offer.

That's only true

[2021-03-23 03:44] alanhkarp commented on #145
I agree.

--------------
Alan Karp

On Mon, Mar 22, 2021 at 8:14 PM Justin Richer ***@***.***>
wrote:

[2021-03-23 04:10] adeinega opened #222 "paramaters x5c and x5t#S256 and GNAP key formats"
[RFC 7517 (JSON Web Key)](https://tools.ietf.org/html/rfc7517) defines a JWK as

The current draft does it as

that could be a minor editorial change. Although, at the same time, RFC 7517 defines parameters such as `x5c` and `x5t#S256` which, for the most part, intersect with `cert` and `cert#S256` key formats introduced in section "Key Formats". The question I have is what are the reasons to defi

[2021-03-23 09:07] fimbault commented on #222
Currently in section 7.1, the non-normative example shows a single key presented in multiple formats (PEM and JWK), but " If a key is sent in multiple formats, all the key format values MUST be equivalent" could be interpreted in different ways. Probably to be clarified.

So I guess there's different things to consider:
- do we restrict the list of key formats to JWK and suggest to use x5c ? I agr

[2021-03-23 10:33] fimbault commented on #221
Yes, the first step anyways is to see where SECEVENT lands on with regards to DIDs (just as basic identifiers).

[2021-03-23 12:13] Denisthemalice commented on #145
The discussion i:s drifting away from its tittle which is" Opaque / Non opaque access tokens".

My position is rather simple :
there exist cases where the client is willing to take a look at the content of the access token and
other cases where the client is not interested to take a look at the content of the access token.

All these cases should be supported by GNAP.

For the negotiation of the a

[2021-03-23 12:54] fimbault commented on #145
I agree with Denis that both cases could occur. I believe that it's ok for the core spec to only deal with opaque tokens, and handle additional possibilities (in particular token format) via extensions.

[2021-03-23 13:18] jricher commented on #222
I decided originally to not just use JWK in the XYZ drafts for a few reasons:

1. Not every signature method is JOSE-based, and so the `kty` and `alg` parameters don't map to all use cases. Taking a deep dependency on JOSE here doesn't make sense to me, though it should definitely be allowed as an option.
2. Some systems are going to want to use *only* certificates, and so wrapping the certificate

[2021-03-23 13:24] Denisthemalice commented on #145
**@ fimbault** I believe that it's ok for the core spec to deal **_both_** with opaque tokens and non-opaque tokens,

Token format negotiation is necessary as soon as there exist no prior relationships between a RS and an AS
(i.e. for system components on the Internet).

In terms of trust relationships;
- the RS **_must_** trust  the AS for "performing some actions", while
- the AS **_may_** trust

[2021-03-23 13:28] IDmachines commented on #222
+1

From: Justin Richer ***@***.***>
Sent: Tuesday, March 23, 2021 9:19 AM
To: ietf-wg-gnap/gnap-core-protocol ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [ietf-wg-gnap/gnap-core-protocol] paramaters x5c and x5t#S256 and GNAP key formats (#222)

I decided originally to not just use JWK in the XYZ drafts for a few reasons:

1.	Not every signature method is JOSE-based, and so the kty and a

[2021-03-23 13:32] fimbault commented on #222
Those reasons are valid.
Regarding http message signature, I guess that's the same debate as [httpsig JWA?](https://github.com/httpwg/http-extensions/issues/1178)

[2021-03-23 13:55] jricher commented on #222
@fimbault I haven't checked in the HTTP Sig changes that will allow JWA algorithms yet, but I'm working on it. :) This would be independent of the key format, though.

[2021-03-23 14:10] jricher commented on #145
@Denisthemalice token opacity is always a matter of perspective. Opacity to the client is what's under discussion here, and I strongly believe tokens should remain opaque to the client for the purposes of the core protocol. Tokens need not be opaque to the RS, and in the case where the RS and AS don't have a prior relationship it should be both discoverable and negotiable. This is under the purvie

[2021-03-23 15:26] alanhkarp commented on #145
Denisthemalice ***@***.***> wrote:

I don't understand what you're saying here.  Clearly, the RS must trust the
AS that validates tokens the RS receives, which I've been calling AS-RS.
The RS doesn't have to trust any other AS, such as the one RO trusts to
enforce RO's policy, which I've been calling  AS-RO.  All that matters is
that the access token is a proper delegation.  In neither case is tok

[2021-03-23 15:40] fimbault commented on #145
The issue is that everyone brings its own interpretation of the boundary between RS/AS. Hence a proposal from the editors to keep a simple model in place, which is known to work.

[2021-03-23 16:12] agropper commented on #145
@fimbault I don't understand your statement and what you mean by a "simple model".
- Are you objecting to @alanhkarp terminology of AS-RS and AS-RO as being overly complex? If so, how do we deal with RO policies AND minimizing the ability for AS-RS to learn about requests that may not result in any token or an attenuated access token?

[2021-03-23 16:50] fimbault commented on #145
"simple" is subjective of course, but I meant close in spirit to the current draft.
I think more advanced flows are something to consider, but probably as an extension.

[2021-03-23 16:57] agropper commented on #145
What part of what I'm asking about (in terms of power and privacy of the RO) would be considered an advanced flow?

[2021-03-23 17:00] fimbault commented on #145
That's just a personal view here: the AS-RO part would fall in an advanced flow.

[2021-03-23 18:08] Denisthemalice commented on #145
**_@jricher_** You wrote:

However, you don't provide any technical argument. Do you want to take privacy considerations
out of the scope of the core protocol ?

Personally, I prefer to consider them from the very beginning. I dislike "privacy after design".

This does not mean that all clients **_should_** or **_shall_** inspect the content of the access tokens,
but that some clients **_may_** be

[2021-03-23 18:55] jricher commented on #145
@Denisthemalice Many people, including me, have given you many technical arguments.

I also have stated, and repeat here, that having the client software able to inspect the token is an anti-privacy practice, since in many instances (which again have been explained to you many times) the client is the untrusted component. Your proposal is, as you would say, "spy by design" by the client software.

[2021-03-23 19:07] jricher commented on #145
@agropper the way I see it, the simple case is when all the policies live internally to the AS. It should be possible for the AS to externalize these and have that be an input into the process, but we shouldn't expect that of all deployments. Fundamentally, what you're asking for doesn't affect the format of the access token, but does affect how the AS operates. I think there are some nuances ther

[2021-03-23 19:24] agropper commented on #145
@jricher I agree that "the simple case is when all the policies live internally to the AS." I also agree that the format of the access token should not be affected.

In OAuth and OpenID Connect the RO is forced to share their policies with an AS chosen by the RS, if they want to delegate to a policy-driven AS. The RO is offered an opportunity to participate live in the authorization process but th

[2021-03-24 08:04] Denisthemalice commented on #145
**@jricher** You wrote:

I am glad to read such a sentence. However, at this moment the Security Considerations section is only 3 lines thick.

You also wrote:

Such sentence does not describe a trust relationship nor an absence of trust relationship. I will recall, once again, that a trust relationship, when it exists, MUST be described using three elements A, B and C :

**_The entity A is trusti

[2021-03-24 09:06] fimbault commented on #145
@Denisthemalice we know the security and privacy considerations are not written yet, there are issues open for that. We can expect the trust relationship of the core GNAP to remain relatively close to what OAuth2 proposes. In particular we'd be handling the the client as an untrusted component (which makes sense because many attacks come from malicious clients).

As soon as time allows, there are

[2021-03-24 10:58] Denisthemalice commented on #215
**_@smartopian_**  I am not advocating the need of a "Consent receipt", but simply the need for a User choice and consent,
and a user notice.

To draw a parallel: Since the publication of the EU GDPR (General Data Protection Regulation) the use of the cookies has changed.
An end-user is allowed to accept them all, to deny them all (except functional cookies) and even to make some choices. The end-

[2021-03-24 11:38] Denisthemalice commented on #145
**_@fimbault_**. You expect the trust relationship of the core GNAP to remain relatively close to what OAuth2 proposes.

This sentence is quite interesting.

In OAuth 2.0 Authorization Framework (RFC 6750) the word _**trust**_ is not even present in the core of the document.

In The OAuth 2.1 Authorization Framework (draft-ietf-oauth-v2-1-00) the situation is not much better even if there are a fe

[2021-03-24 11:43] fimbault commented on #145
@Denisthemalice I will have a look at issue 214 in more details

[2021-03-24 12:42] agropper commented on #145
@fimbault I respect the intent of the editors and the difficulty of your task but dealing with core privacy issues through "extensions that might implement some of the ideas mentioned" seems unwarranted. It risks creating a schism between W3C and IETF as both groups try to represent key privacy rights of the individual.

For example, over on the W3C / DIF standards, we discuss Confidential Storage

[2021-03-24 12:48] fimbault commented on #214
Here's my feedback on the initial description of the issue.

Thanks for the proposals for definitions:

a) Privilege : The current definition is : right or attribute associated with a subject
I still think using subject is the right choice, see for instance the AS-RO discussion where the RO (which isn't necessarily an end-user) also has its own set of privileges.

b) Client operations on objects:

[2021-03-24 13:17] fimbault commented on #145
@agropper Thanks for the feedback, I hear that. The intent is not to create a schism, quite the contrary we intend to allow compatibility between various well known standards (IETF, W3C, OpenID, DIF, etc.). I can speak for editors when say that we do intend to support privacy, as much as possible. We value your proposals, as well as those of others who participated in this thread and on the mailin

[2021-03-24 13:49] Denisthemalice commented on #203
This thread is drifting away from the first message that I posted. The current text in section 9.4 starts with:

" If the client instance calls an RS without an access token, or with an invalid access token, the RS MAY respond
to the client instance with an authentication header indicating that GNAP needs to be used to access the resource".

The text omits to mention which HTTP error code(s) shoul

[2021-03-24 14:05] agropper commented on #145
@fimbault Again, I appreciate the clarity of your language and your honorable intent and look forward to the changes the editors will propose.

FWIW, I have spent about a decade implementing authorization around the "other considerations" you mention. I have dealt with OAuth and OpenID Connect at scale using the largest healthcare examples (the Epic EHR and US Federal Medicare database). I've been

[2021-03-24 14:22] fimbault commented on #203
Note that there were other proposals related to [errors](https://github.com/ietf-wg-gnap/gnap-core-protocol/pull/206)

[2021-03-24 14:27] fimbault commented on #145
I don't disagree ;-)

A recap that this issue is currently pending close since last week and about to close.

This thread has been uber long, and we now tend to get away from the initial discussion. I'd suggest we get those items (e.g. AS-RO) in their own thread, so that we make sure we keep them to the top of our list.

On the specific opaque/non-opaque item:
- to recap the reasons from the edito

[2021-03-24 15:14] alanhkarp commented on #145
Denisthemalice ***@***.***> wrote:

I like your definition of trust, but sometimes it's easier to understand if
we turn things around.  In what way is entity A vulnerable to entity B?  In
this case, B might perform C to A's expectations, but B might also do
action D, which A did not expect.  A privacy violation is an example of D.

--------------
Alan Karp

[2021-03-24 15:30] fimbault opened #223 "AS-RO policy delegation"
cf discussion on [mailing list](https://mailarchive.ietf.org/arch/msg/txauth/zG86anwR55U9tzp9NPzMZnbj3ig/) and buried in #145

The point of having an AS-RO is to allow RO to specify a policy for which of RO's access tokens should be delegated under what conditions.  AS-RS should not need to understand those policies.  The flow would be
- RO contacts AS-RS and gets one or more access tokens.
- RO d

[2021-03-24 15:33] Denisthemalice commented on #214
**@fimbault** First of all: Thank you for your feedback !

Your text:

a) Privilege : The current definition is : right or attribute associated with a subject
I still think using subject is the right choice, see for instance the AS-RO discussion where the RO (which isn't necessarily an end-user) also has its own set of privileges.

**_My response_**:

Until someone can explain what an AS-RO is (by

[2021-03-24 15:38] fimbault commented on #214
I fear there might be a misunderstanding on ""The end-user is trusting his client to manage the interactions with the AS and with the RS".

That the end-user trusts his client doesn't mean the AS or RS should trust the client.

[2021-03-24 15:41] fimbault commented on #223
Taking one of Denis's feedback, "I need to confess that I have not been able to understand what Alan was meaning with the term AS-RO." (I too have struggled quite a bit).

We should first have a definition for that

[2021-03-24 15:50] fimbault commented on #214
Regarding definitions
- I created a new issue for AS-RO #223 and asked there for a definition.
- "A resource is any object an API can perform an operation on it." From the outside client, it's the API that we care about. So why would we refer to the internal object?

As for the rest (ACLs vs capabilities), I'll let other people give their opinion. Seems to me more as an implementation detail (and

[2021-03-24 15:58] fimbault commented on #214
Last the reason why I say 2 types of tokens : I get your point but it's impossible to support a full capability model with JWT for instance (can't attenuate). Alan explained that it's possible to imagine a token exchange mechanism, but still, a cryptographic attenuation is much stronger.

[2021-03-24 17:29] jricher commented on #223
I think it's important to discuss things in terms of relationships, and "AS-RS" and "AS-RO" are both reasonable relationships. However, the pattern here has one assumption that I don't think works: there are two separate AS's and they give access tokens to each other. This crosses the roles and confuses the conversation.

If an AS receives and processes an access token, it is acting as an RS. Ther

[2021-03-24 17:38] jricher commented on #223
No, by definition the party that accepts and processes the access token and associates it with a right of access is the RS.

The way an agent fits in, in my personal view, is as another input into the system. So I think the "AS-RO" in the list above isn't an AS, but could be an agent. The artifact that it gives is not an access token, or at the very least not the same kind of thing that the AS-RS

[2021-03-24 17:39] fimbault commented on #223
Yes, that's what I was clumsily suggesting ;-)

[2021-03-24 17:40] Denisthemalice commented on #214
**_fimbault_** ; You wrote:

I fear there might be a misunderstanding on

There cannot be a misunderstanding since every trust relationship is necessarily unilateral.

[2021-03-24 17:43] fimbault commented on #214
Sure, but what I mean is that my approval to the sentence doesn't mean we should consider the client is trustworthy

[2021-03-24 17:58] Denisthemalice commented on #214
**_fimbault_**  :

 **_client is trustworthy_** does not mean anything. An entity **_A_** is trusting an entity **_B_** for some actions/purposes/behavior **_C_**.

Using "trust boundaries"as you mention is not the right way to define trust relationships.
However, you can say that A, B and C are trusting the entity E for some actions/purposes/behavior **_F_**.

Then you can illustrate that by draw

[2021-03-24 18:13] fimbault commented on #214
cf Alan's comment on your definition of trust (which explains why I used `trustworthy`)

The RO might be vulnerable to a wrong trust boundary set at the end-user level.

[2021-03-24 18:25] Denisthemalice commented on #223
There is still no definition to explain what mean the acronyms AS-RO and AS-RS.

 :-(

**_@jricher_**: You wrote: "AS-RS" and "AS-RO" are both reasonable relationships.

An AS can have many relationships with a RS and until these relationships is described one by one in terms of trust relationships,
we can argue for ever.

An AS can have many relationships with a RO and until these relationships i

[2021-03-24 19:26] Denisthemalice commented on #145
**@alanhkarp**

I am glad you like the definition, which is a shortcut of the ISO definition.  :-)

Trust relationships are necessary to define secure protocols. However, alone there are insufficient to address privacy issues.

For example, if an end-user **_A_** CANNOT trust **two RSs** for NOT attempting to link their user accounts by using the "sub_id" claim that is present in a JWT access toke

[2021-03-24 19:32] fimbault commented on #145
No, I'm not putting the topic under the carpet. The choice is clear for the core spec, and I clearly support having the ability to define token formats as an extension.

[2021-03-24 20:08] adeinega commented on #105
The easiest way for a client to rotate its keys is to handle a URL in the `jku` claim to the client's JWKS endpoint on the AS side (the same also applies to the "x5u" claim for certificates). "OpenID Connect Dynamic Client Registration" and "OAuth 2.0 Dynamic Client Registration Protocol (RFC 7591)" use the `jwks_uri` parameter for that. Personally, I don't think this approach will work that well

[2021-03-25 00:57] agropper commented on #223
My definition of an AS is the role that turns a request into an access token. Notionally, an AS is the Policy Decision Point, although I see a range of definitions for PDP.

[2021-03-25 07:59] fimbault commented on #223
Recap from @agropper :
1 - Justin (I think) introduced the idea of an AS on the RS trust boundary side.
2 - I said the RO should not have to share policies with the RS.
3 - Alan invented the concept of AS-RO and AS-RS to separate two kinds of PDPs.

The thing is that step 2 is not symmetrical. The RO has a legitimate privacy interest in keeping their policies private and minimizing the leakage of

[2021-03-25 15:34] Denisthemalice commented on #223
Since there is still no definition to explain what mean the acronyms AS-RO and AS-RS,
I have created my own terminology **_RO-AS_** and **_RO-RS_** and wrote a full story including
the definitions of a RO-AS and RO-RS.

I am using the following vocabulary/definitions:

**_Resource_** : any _object_ an API can perform an operation (or method) on it.

**_Resource Server_** : any _system_ that contai

[2021-03-26 08:59] fimbault commented on #105
Another item that won't be easy to handle is 7.1.1. Since ""dereferencing this value are out of scope for this specification", so is rotation.

[2021-03-26 16:13] fimbault commented on #6
# references

There are very distinct cases that relate to references.

1. user and client reference
References can be used as a "shortcut".
- the client request in 2.3 can either be via an instance_id or a direct string
- the user request in 2.4 can either be via a sub_id (opaque) or a direct string
(then in section 3.5, the response can include a "user_handle" and a "instance_id")

Is it worth p

[2021-03-26 16:49] fimbault commented on #62
The text is currently not very clear. "The AS MUST dereference the grant associated with the reference and process this request in the context of the referenced one. The AS MUST NOT alter the existing grant associated with the reference." We could explain the use cases as suggested in this issue, and explain that it's an immutable reference (yes, I'm doing too much rust ;-)).

Supposing we have th

[2021-03-26 20:23] jricher commented on #114
This section will be pulled out into a separate document, to be discussed by the working group. Note that in the future it could be re-incorporated into the core if the working group decides to restructure things that way.

[2021-03-26 20:24] jricher opened #224 "Expand "user interaction" discussion"
The "user interaction" section of GNAP has always been intended to allow for many different kinds of practices, including things like discussed in #168

The current writing makes it seem limited to just the RO interacting directly with the AS, and then only specified through a web browser. The section needs to be rewritten to take into account the variety of different acts that the AS can allow du

[2021-03-26 20:29] jricher commented on #145
Consensus is that access tokens will remain opaque to the client instance and AS-RS connections will be discussed in new document, #224

[2021-03-26 20:29] #145 closed

[2021-03-27 07:19] adeinega commented on #6
@fimbault, regarding

[code]

You may use your own (custom) unmarshal function to do all requred checks for the type of a value (`string` vs `interface` like in your `user_string` and `uset_struct`). Furthermore, take care of the rest of things like https://github.com/golang/go/issues/14750.

[2021-03-27 07:33] adeinega commented on #105
I may also add yet another item for section "10.1. Introspecting a Token"

[2021-03-27 07:39] adeinega commented on #115
The section doesn't provide any information on what happens when a client wants to introspect an inactive/invalid/revoked token.

[2021-03-27 12:57] jricher commented on #6
My own Java implementation uses custom serializer/deserializer classes with a wrapper interface for any field that can take different forms. The two main categories we have are "string-or-object" and "array-or-object", and both of those are pretty easy to detect and handle.

[2021-03-27 13:07] jricher commented on #115
Yes, this is pretty thin right now. It's the RS that introspects the token, and this section will be pulled out into a separate spec to make that more clear (#114). The response for both positive and negative situations is likely to be based on the OAuth introspection spec, RFC7662 https://tools.ietf.org/html/rfc7662

[2021-03-27 13:36] fimbault commented on #6
In short yes, that solves the issue.

[2021-03-28 20:24] yaronf commented on #176
This information is important to the draft's readership, and people are not seeing it (e.g., Denis's mail from March 26). Can we include it as-is in an appendix to the draft?

[2021-03-28 21:03] yaronf commented on #6
Thank you @adeinega, I wasn't aware of this Go issue. It's really bad, and quite surprising to see in the Go library.

[2021-03-29 03:38] adeinega opened #225 "Explicit typing for jws and jwsd key proofing mechanisms"
The idea is to minimize ways to reuse JWS objects [for other purposes](https://tools.ietf.org/html/rfc8725#section-3.11). These attacks are sometimes referred as _Swapping JWTs_ and _Cross-JWT Confusion_).

See also discussion in https://github.com/ietf-wg-gnap/gnap-core-protocol/pull/202.

[2021-03-29 08:16] fimbault commented on #51
Fixed by SECEVENT opaque identifiers

[2021-03-29 18:01] jricher opened #230 "Update "htu" claim name in JOSE methods"
DPoP defines `htu` as not containing path or query components, GNAP's JOSE methods use the full URL. The JOSE methods should move to a different claim name to avoid confusion with DPoP.

[2021-03-29 18:01] jricher commented on #230
See comments at https://github.com/ietf-wg-gnap/gnap-core-protocol/pull/202#issuecomment-809581171

[2021-03-29 18:29] yaronf commented on #230
Doesn't make sense to me: JOSE is published as an RFC and is well established, so this sounds like an error in DPoP - which should move away from `htu`... What am I missing?

[2021-03-29 18:40] jricher commented on #230
We don't have control over DPoP's claims, those are defined by the OAuth WG. If we continue to keep DPoP signing in GNAP, we will use what they define as much as we can.

JOSE as a signing suite is published as an RFC, GNAP is profiling JOSE (specifically JWS) to have a simple detached HTTP message signature method.

[2021-03-31 15:18] jricher opened #231 "Create verifier text"
Key proof sections do not currently detail how to verify each method, including requirements for verifying fields, this needs to be added.

[2021-03-31 15:40] fimbault commented on #221
Some text proposal is required to go forward on this issue.

[2021-03-31 15:44] fimbault commented on #222
Can't depend on JWK only, we need to keep the system open to a variety of formats (e.g. certs, etc.).

[2021-03-31 15:51] fimbault commented on #223
#224 will create a means to talk about policies

[2021-03-31 17:57] adeinega commented on #222
@fimbaul, @jricher, from my (very pragmatic) perspective, I'm more than fine with the support of a variety of different formats. Although, JWKs are still being too flexible. Hence, I suggest specifying if it's allowed to use and/or mix parameters`x5c`, `x5u`, `x5t` as well as `jku` or not. For example, [The OpenID Connect Discovery spec](https://openid.net/specs/openid-connect-core-1_0.html) tells

[2021-03-31 18:52] jricher commented on #222
The `key` object is meant to represent one key, but it gives multiple ways to represent that key -- and I agree that we need to be really clear about the relationship between different parameters, including parameters inside the JWK object itself. I think it'll be helpful to pull in some of this discussion in the key representation section. We've got some language on multiple key formats in there

[2021-04-01 15:19] Denisthemalice opened #233 "The case of attributes should be addressed"
A privilege is a right or attribute associated with a subject. An access Token contains a set of rights and/or attributes.

The current draft addresses the case of rights, but not the case of attributes.

A key question is the following : since most attributes are personal information, should an end-user be allowed to choose
which attribute types (and optionally attribute values) should be placed

[2021-04-01 15:24] Denisthemalice opened #234 "Privacy considerations"
Proposed additional text:

 Some end-users care about their privacy. When tokens are considered to be opaque for the clients, end-users are not supposed
 to know which privileges (rights and/or attributes) have been placed inside an access token by an AS.

 ASs play a central role by delivering access tokens to clients. When an AS delivers rights to a client (and hence to an end-user),
 it is in a

[2021-04-01 15:25] aaronpk commented on #233
Since access tokens are opaque, there is no "into an access token". If an AS decides to use a structured token format, that is outside the scope of GNAP core, and would be best discussed in an extension. This is similar to the relationship between RFC6750 and the [JWT profile for access tokens](https://tools.ietf.org/html/draft-ietf-oauth-access-token-jwt-12).

[2021-04-01 15:37] jricher commented on #234
Framing opaque access tokens as anti-privacy is incorrect and unhelpful.

[2021-04-01 15:40] jricher commented on #233
Agree with @aaronpk . An access token can easily be a completely random value used to look up information in the back end, and therefore have no internal data.

[2021-04-01 16:53] yaronf commented on #234
I think this is a miscommunication. Would it be more acceptable if we said: When tokens are encrypted such that the client cannot inspect them...".

In other words, this is not about tokens being architecturally opaque (it should not be read by the client), rather it is about the token being physically opaque (really encrypted, cannot be read).

And to clarify: I think a fully transparent token ca

[2021-04-01 17:13] Denisthemalice commented on #234
**_@ yaronf_** : My text proposal has nothing to do with access token encryption.

Since we are using HTTPs, an attacker external to the client will be unable to look at the content of an access token.

**_@jricher_** : I understood from a prior issue that, _for the time being_, access tokens should be considered as being opaque to clients.
The text proposal is simply a consequence of such access

[2021-04-01 17:45] jricher commented on #234
@yaronf the statement in this issue is about the tokens being architecturally opaque and placing a value judgement on that. I agree with you that transparent tokens can be harmful to privacy (and in fact are actually MORE harmful).

@Denisthemalice You are misunderstanding the prior issue and the discussion around that.

[2021-04-02 07:20] fimbault commented on #234
Closing as a duplicate of #133

[2021-04-02 07:20] #234 closed

[2021-04-02 07:27] fimbault commented on #233
I think we should keep the opaque/non opaque discussion aside, since a decision was reached in #145.
Irrespective of that, the current request indeed focuses on rights (called action), it would be helpful to also support basic attributes. "dolphin-metadata" is kind of an attribute, but doesn't relate to a location.

[2021-04-02 14:55] Denisthemalice opened #235 "An overview is missing"
On October 21, 2020 an email with the following subject :"Quick review of draft-ietf-gnap-core-protocol-00"
has been sent and left unanswered. One of the questions was:

An overview is missing since the various features are only being discovered while reading the document.

It would be nice if the editors would be able to propose such an overview.

[2021-04-02 14:56] Denisthemalice opened #236 "Common points and main differences with OAuth ?"
On October 21, 2020 an email with the following subject "Quick review of draft-ietf-gnap-core-protocol-00"
has been sent and left unanswered. One of the questions was:

A key question that might interest a reader is the following: what are the common points and the main differences with OAuth ?

It would be nice if the editors would be able to propose a section or an Annex to answer to this questi

[2021-04-02 14:57] Denisthemalice opened #237 "How can a client identify which ASs are trusted by the RS ?"
On October 21, 2020 an email with the following subject "Quick review of draft-ietf-gnap-core-protocol-00"
has been sent and left unanswered. One of the topics was:

The document only speaks about "_**the**_ AS", as if only one AS would exist which is obviously not the case.

The first access made to a RS shall be able to identify which ASs are trusted by the RS **_and for which reason(s)_**.

[2021-04-02 15:28] jricher commented on #236
Duplicate of #176

[2021-04-02 15:28] #236 closed

[2021-04-02 15:29] jricher commented on #235
Duplicate of #176

[2021-04-02 15:29] #235 closed

[2021-04-02 16:22] Denisthemalice commented on #133
The issue #234 has been closed in less than 24 hours because it had the same title, but contained rather different topics.
Text is still needed for the "Privacy Considerations" section.

I proposed two lines to address **_two different topics_**. One is centered on the end-user while the other one is centered on the AS.

Some comments have been made on the first topic, _without giving a rational_,

[2021-04-02 17:00] Denisthemalice commented on #215
**_@jricher_**. You wrote:

This does not mean that in **_all use cases_**, the trust relationships (and NOT the _legal relationships_ which are out of the scope of the draft) between the AS and the RS are established out of band. The very first User consent and choice for an end-user should be to agree to ask for an access token for some reason(s). If these reason(s) seem acceptable by the end-us

[2021-04-02 17:06] Denisthemalice commented on #214
Three weeks after the opening of this thread, the very first comment unfortunately remains true.

**_Without a clear definition of these relationships, we might continue to argue for ever._**

[2021-04-02 17:46] smartopian commented on #215
Hi Denis,

Interesting you bring up cookies, which is really not consent at all.  Its identifier surveillance, and notice is at the attribute level rather than at the purpose level.   The master identity controller / person is providing a social/legal permission called consent, which is converted into a signal in a permission framework, called cookie notice.

In our framework, a person can make a

[2021-04-02 18:19] agropper commented on #133
The end user is accountable for the request it makes at an AS. The end user is accountable for the information it accesses at at the RS. For example, the request might make identity claims and purpose claims as well as suggest a scope of resources sought. From my privacy perspective, the end-user is not liable for whatever scope is granted to them. That was entirely on the AS and if the AS makes a

[2021-04-03 10:37] Denisthemalice commented on #133
**_@agropper_**. I failed to understand how your comment might relate to this thread which is attempting to produce text to be inserted in the Privacy Considerations section.

[2021-04-03 11:08] agropper commented on #133
@Denisthemalice The core privacy consideration is maximum agency for the resource owner. Maximizing their agency means giving them:
1 - the power to delegate authorization to an agent they control (automation)
2 - not having to share policies or otherwise explain "why" an authorization decision was made (sovereignty)
3 - data minimization with respect to what other parties get to see or understand

[2021-04-03 15:19] IDmachines commented on #133
Maximum agency requires not of risk or there is no validity to the agency.

This is the two-factor consent mark is referring to, being meaningful notice of risk, followed by meaningful consent (not consent management, or agreement to privacy policy as these are RS functions and not related to the RO agency.)

From: Adrian Gropper ***@***.***>
Sent: Saturday, April 3, 2021 7:08 AM
To: ietf-wg-gnap/

[2021-04-03 15:20] IDmachines commented on #133
Apologies for the edit, that was “requires” notice of risk.

From: Salvatore DAgostino
Sent: Saturday, April 3, 2021 11:19 AM
To: ietf-wg-gnap/gnap-core-protocol ***@***.***>; ietf-wg-gnap/gnap-core-protocol ***@***.***>
Cc: Subscribed ***@***.***>
Subject: RE: [ietf-wg-gnap/gnap-core-protocol] Privacy considerations (#133)

Maximum agency requires not of risk or there is no validity to the agency

[2021-04-03 16:02] agropper commented on #133
I don't understand. Notice by whom to whom (in terms of my example)?

Adrian

On Sat, Apr 3, 2021 at 11:20 AM IDmachines ***@***.***> wrote:

[2021-04-03 16:17] IDmachines commented on #133
Notice of the identity management systems surveillance risk (AS, RS and clients)

So, how can the AS convey to the RO the risk?

From: Adrian Gropper ***@***.***>
Sent: Saturday, April 3, 2021 12:02 PM
To: ietf-wg-gnap/gnap-core-protocol ***@***.***>
Cc: Salvatore DAgostino ***@***.***>; Comment ***@***.***>
Subject: Re: [ietf-wg-gnap/gnap-core-protocol] Privacy considerations (#133)

I don't unde

[2021-04-03 16:26] Denisthemalice opened #238 "Concept of a "service" supported by a set of RSs"
At the moment an access token is intended to be presented to one server, i.e. a RS.

There are cases where a Service (SRV) is supported by a set of RSs, e.g. a printing service or a storage service.

If an access token includes the name of a service (_in addition to an identifier of a RS_), either :
- that access token may be forwarded by one RS to another RS belonging to  the same service, or
- t

[2021-04-03 16:29] Denisthemalice opened #239 "Access token format(s) negotiation"
The access token format(s) supported both by the RSs and by the ASs should be advertised using some protocol
(e.g. using a Discovery mechanism) so that a common format may be discovered by the clients and then be
either advertised to a given AS or negotiated by the client with a given AS.

[2021-04-03 16:31] Denisthemalice opened #240 "Scalability and prior relationships between ASs and RSs"
**_In OAuth_**: The token format is defined between a RS and an AS using out of bands means, hence a prior relationship must exist between every RS and every AS. This is not scalable.

**_In GNAP_**: A RS MUST trust access tokens delivered by some AS(s) for some kind of privileges present in these access tokens.
Note: Trust relationships are only unilateral.

In general, **_ASs_** do not need to h

[2021-04-03 16:59] Denisthemalice opened #241 "Unlinkability"
This topic falls under Privacy considerations but has consequences on the access token request protocol, hence it is opened as a separate thread.

An end-user identifier present into an access token may be either:
1. a globally unique identifier (e.g. an email address, a social security number), or
2. an identifier locally unique to that AS for all the RSs, or
3. an identifier unique for every AS

[2021-04-03 17:32] agropper commented on #133
I'm sorry, @IDmachines, I really don't understand your perspective. Here's my use-case https://github.com/ietf-wg-gnap/gnap-core-protocol/issues/133#issuecomment-812651001 There's no identity management system that I can see. The RO delegates to an AS that they control. The AS receives requests with claims that may be related to an identity management system but that has nothing to do with GNAP as

[2021-04-03 17:42] agropper commented on #133
If, @IDmachines, your implication is that the AS is not owned or otherwise controlled by the RO, then that's a different use-case that I might call "turtles all the way down". I consider any AS that is not an agent of the RO as an agent of the RS or some flavor of data broker. It certainly does compromise the RO's privacy just as it dilutes their agency. This is the why I work to make sure GNAP do

[2021-04-03 18:59] IDmachines commented on #133
Hi @agropper, yes that was  curt, let me try to do better.

"The end user is accountable for the request it makes at an AS. "

In order for there to be accountability the "end user" <- hate the term.
has to be aware of the risks (identity, surveillance, security, privacy)
before she makes the request.

Same for the RO especially when they delegate.

Same has to be true for all actors.

Isn't all o

[2021-04-03 19:25] IDmachines commented on #133
@agropper thanks

I think that even in the case where its controlled by the RO there is inherently some (across the ISSP layers) risk in sharing anything with the AS, its transparency about the initial risk conditions that I (and Mark) are driving at, and these are the privacy considerations that we are trying to include.

Best /s

From: Adrian Gropper ***@***.***>
Sent: Saturday, April 3, 2021 1:

[2021-04-03 21:39] agropper commented on #133
Now I get it @IDmachines. We're talking past each other because I'm doing everything I can to keep GNAP away from identity and you're linking identity to accountability. We might be in violent agreement.

I want auditability and accountability at the core of the protocol as much as anyone. So I start with self-sovereign decentralized identifiers that can be used for non-repudiable signatures indep

[2021-04-04 01:43] IDmachines commented on #133
Thanks @agropper we should have a notary conversation outside this thread/RFC as we agree that is critical, but maybe we see some different use cases. Again, ones that occur prior to some of the flows you rightfully point out.  /s

IDmachines
1264 Beacon Street, #5
Brookline, MA 02446
+1 617.201.4809
@idmachines
________________________________
From: Adrian Gropper ***@***.***>
Sent: Saturday, Apr

[2021-04-05 09:20] fimbault commented on #238
RS discovery seems like an overkill for what is fundamentally an internal detail of the RS. That use case is better managed via tokens that allow delegation (and also enable a better tracking that the second order delegation has been processed by the RS). That's one of the microservice implementations we've been discussing previously.

[2021-04-05 09:23] fimbault commented on #237
The reason for that has been explained: at any one point in time for a request, there's only one AS in the core protocol.

We might want to allow a preflight for a variety of reasons (token format negotiation, AS choice, etc...), but probably as an extension (cf what has been discussed about putting section 10 into its own document).

[2021-04-05 09:24] fimbault commented on #239
Yes, that would be helpful as an extension.

[2021-04-05 09:25] fimbault commented on #240
Not sure what's your point here.

[2021-04-05 09:27] fimbault commented on #241
isn't it the same as #210?

[2021-04-07 08:11] fimbault commented on #189
Another example of multiple formats https://github.blog/2021-04-05-behind-githubs-new-authentication-token-formats/

[2021-04-07 13:59] fimbault commented on #6
@jricher actually there's a bit more to do to match against the various formats in sub_ids (within the SubjectRequest), instead of a basic string (it would be easy if they all had the same content, but that's not the case).

That gives me something like in my rust implementation:

// here we use a visitor pattern to map the string as an opaque struct
let byref = r#"
        { "user": "u123456789"}

[2021-04-08 12:20] fimbault opened #244 "Refactoring the internals of access request"
A few questions/suggestions around section 8 (Resource Access Rights):
- type: considering the constraints (no collision), I believe the term namespace would be better suited. Since we explain a URI is prefered in real life scenarii, we might update the examples accordingly
- locations singular or plural: what's the rationale for an array of locations? Do we see that as a common scenario (with exa

[2021-04-08 15:12] jricher commented on #244
Thanks for raising these issues -- from an editor's standpoint, please note that we are trying to sync discussions about this structure with the RAR extension of OAuth2, including PRs like this: <https://github.com/oauthstuff/draft-oauth-rar/pull/66>; we don't want the two specs to lose sync. This doesn't mean we can't change them, but we do need to make sure we have that larger conversation if we

[2021-04-08 15:29] fimbault commented on #244
Thanks for the feedback. RAR alignment aside (which I agree is a topic):

- maybe `namespace` isn't the best, but `type` isn't well suited either ;-) Ex in the RAR document, `"type": "https://www.someorg.com/payment_initiation"` is not exactly intuitive
- if we have good reasons (i.e. a recurring need) to get an array for locations, fine. I don't see many on my side, and there's the additional com

[2021-04-08 16:05] jricher commented on #244
To the specific push for attributes: To me, the "give me an admin token" is closer to the definition of `actions` than anything else, since it's aligned with "what I want to do". Maybe instead of `attributes` it could be `rights` or `privileges`? Basically, each field ought to be pretty clear in its intended target, and they should all be as orthogonal to each other as possible.

[2021-04-08 16:56] fimbault commented on #244
IMO:
- `right' is related to actions/operations ("I have the right to read, write, etc.")
- `privilege` is related to attributes ("I am an admin, I'm part of a privileged group, etc.")

The difference I make between the 2 is that anyone can ask for a right (of course, to be granted or not), but a privilege depends on your identity. So a privilege is kind of a reference in itself (some external sys

[2021-04-08 17:12] jricher commented on #244
I agree that currency isn't an attribute, and that's what lead me to the conclusion that `attribute` above was becoming a catch-all bucket. I would rather see someone define `"currency": "euro"` instead of having them try to dump something like that into a "whatever bin".

[2021-04-08 17:27] fimbault commented on #244
Yes.
The problem I see in the current example with currency is that I don't know how to understand the `financial-transaction` structure. Unless it's hard coded in some very specific context, but I don't want to have to compile a different lib for each situation.
Ideally I'd like my parser to know what to expect at the base level of the access request, and so that would require a predetermined str

[2021-04-08 17:52] jricher commented on #244
This is exactly at the heart of many of the discussions in RAR, including (but not limited to) this one: https://github.com/oauthstuff/draft-oauth-rar/issues/45

Basically we can't predict or decide what a given API's security structure will look like at the security level (GNAP). So if there's a definition of the `financial-transaction` access `type`, then an AS will probably need to know how to

[2021-04-08 17:59] fimbault commented on #244
+1 for the suggested resolution in RAR, if the AS can't understand `"namespace/type": "https://as1.example.dev/bank-api/v1/" I would reject the request.

[2021-04-08 18:15] adeinega commented on #244
Just thinking out loud.

What makes me wonder when I see access requests is that why GNAP uses "access_token" for access token requests. My best guess is that OAuth uses "access_token" because there is also a "refresh_token". GNAP doesn't have the latter one, hence, the "access_" prefix can be omitted and get a shorter "token".

Does it really need to specify this prefix?

[2021-04-09 12:11] fimbault commented on #244
I guess it's now become a very standard term, and it also qualifies what the token is used for

[2021-04-09 20:49] adeinega commented on #244
I still think it's really unnecessary to use `access_token` instead of `token` in the access request for the same reasons you don't use prefix `access_` for other properties in it. As I was saying before, it's completely understandable why oAuth has/uses it. It isn't that important thing for me though.

[2021-04-11 17:20] Denisthemalice commented on #237
Even "at any one point in time for a request, there's only one AS in the core protocol", this does not prevent a RS to trust
more than one AS.

This issue relates to the "User choice and consent, and user notice" issue #215 which proposes one solution,
but there might be other solutions.

[2021-04-11 17:20] Denisthemalice commented on #238
The first text clearly mentions that the notion of a service is able to support two mechanisms instead of one.

- an access token may be forwarded by one RS to another RS belonging to the same service, and
- the client may re-use the access token at another RS belonging to the same service.

The first case could indeed be supported by asking a new access token, but the merits of this proposal
is p

[2021-04-11 17:20] Denisthemalice commented on #239
Would you be able to come back on this issue, once a proposal for such an extension will be written ?

[2021-04-11 17:20] Denisthemalice commented on #240
The text should clarify that two broad types of approaches are supported:
- one where an AS and a RS have no prior relationship, and
- another one where an AS and a RS have established a prior relationship (before an access token is being granted).

Note 1: In the case where an AS and a RS have no prior relationship, on-line means to negotiate the access token format
between a client and an AS and

[2021-04-11 17:20] Denisthemalice commented on #241
No, even if the two issues are somewhat related.

Issue #210 is intended to be placed in the main body of the document when parameters are being described
(until these parameters are adopted by the SEC EVENT WG), while the text above is a candidate text to be included
into the Privacy Considerations section.

[2021-04-11 17:20] Denisthemalice commented on #244
Switching the meaning of the words back and forth does not al!ow to progress.

access token is defined as a data artifact representing a set of **_rights_** and/or **_attributes_**
attribute is defined as characteristics related to a subject.

It is the time now to define a data structure able to to request attributes within an access token.

[2021-04-11 17:35] fimbault commented on #244
What's most important is that we are consistent. And so we'd need to keep the notions at the same level (rights <-> actions, privileges <-> attributes).
If we keep to our definition of attributes (which refer to the subject), there's no real risk of having a bin holder. Otherwise could be called sub_attr if we want to make it more explicit in the label.

Then here's what I suggest:
- the definitio

[2021-04-12 07:38] Denisthemalice commented on #244
**_@fimbault_** : What you suggest is rather different from the current definitions.
With your proposal, nobody would know anymore what a privilege is.

access token is a data artifact representing a set of **_rights and/or attributes_**.
**_rights and/or attributes_** are **_privileges_**.

Using **_"sub_attr"_** claims is however nice proposal, since it would be not possible to have confusion wi

[2021-04-12 07:55] #42 closed

[2021-04-12 08:00] fimbault commented on #222
Closing as discussed last week on the mailing list

[2021-04-12 08:00] #222 closed

[2021-04-12 08:01] fimbault commented on #198
Closing as discussed last week on the mailing list

[2021-04-12 08:01] #198 closed

[2021-04-12 08:17] fimbault commented on #244
Cf above for the distinction I made between rights and privileges, which you also find in [plain english](http://www.therepublic.com/2020/01/30/theres_a_difference_between_a_right_and_a_privilege/).

Updated proposal: (I indicate where there are some question marks)

[code]

[2021-04-12 09:34] fimbault commented on #193
Closing as duplicate

[2021-04-12 09:34] #193 closed

[2021-04-12 09:39] fimbault commented on #186
Same as #215 ?

[2021-04-12 16:11] jricher commented on #244
I think the above conversation is confusing what is represented by the access token and what is returned to the client instance, and that's dangerous. We aren't just talking about protecting APIs that have information about people, and we need to be very careful that we don't make that assumption.

The access token represents rights of access on a protected resource. There might be other aspects o

[2021-04-12 16:13] fimbault commented on #244
Ok, but this stems from your remark that attributes where too broad. I can understand that now it's the opposite, but we have to choose.

[2021-04-12 17:11] jricher commented on #244
If we wanted to define something for "roles" or "groups", we could do that explicitly. Or more properly, an API designer could. The core protocol shouldn't try to pre-define all the different kinds of dimensions that API designers could use, and we don't want to give the impression that API designers need to cram their security models into the existing fields. We WANT designers to define their own

[2021-04-12 18:24] fimbault commented on #244
I haven't describe a general purpose field. The case described is for roles/groups, which are very usual use cases, even much more than actions.

The extension examples I've put in example 2 above were directly derived from examples currently in the spec. I personally find currency a fairly strange attribute (why would I enclose that in an authorization?), but since it was there I tried what that

[2021-04-12 18:56] agropper commented on #244
This may not be the proper place to mention this, but I'm particularly concerned about the use-case where a Resource Server' API is mandated by regulation or federation. This is prominent in the US healthcare use-case where both the endpoint standards and the publication of the endpoints themselves is regulated in order to avoid "information blocking".

In this context, how does the RS specify the

[2021-04-12 19:05] fimbault commented on #244
Here `type` is under the control of the AS, not the RS.
Probably this requirement is better suited for the RS part of the document?

[2021-04-12 19:08] jricher commented on #244
@fimbault what I mean by "general purpose field" is exactly what you're describing here, so I think we're actually on the same page -- it's about a field that's re-usable across many different kinds of APIs. What I want to avoid is GNAP trying to define apriori all these different dimensions of access, and so what I'm trying to get at is the question of whether the kind of thing you're describing

[2021-04-12 19:12] fimbault commented on #244
@jricher yes I agree we should only define fields which correspond to a mainstream use case. I believe that's the case here.

[2021-04-14 09:27] fimbault commented on #176
I will submit a PR as an appendix.
Note also that the editors prepared an article "Managing authorization grants beyond OAuth 2" that has been accepted at [OID2021](https://oid2021.compute.dtu.dk/)

[2021-04-14 15:38] jricher opened #248 "Be consistent with OAuth 2.0 (not OAuth 2)"

[2021-04-14 15:40] jricher commented on #186
duplicate of #215 -- conversation moved there

[2021-04-14 15:40] #186 closed

[2021-04-14 15:42] jricher commented on #233
covered under discussion in #244

[2021-04-14 15:42] #233 closed

[2021-04-14 15:48] jricher commented on #237
This should be addressed by the GNAP-RS extension created under #246 , which does not change the core model of one AS per transaction request. An additional discovery protocol could be developed to allow client instance to choice of AS if desired within that extension or another document.

[2021-04-14 15:49] #239 closed

[2021-04-14 15:49] jricher commented on #189
Token format negotiation and discovery is introduced in GNAP-RS extension created by #246

[2021-04-14 15:55] jricher commented on #210
The proposal here is the purview of the SECEVENT working group, GNAP will use the Subject Identifiers spec from that working group as-is.

[2021-04-14 15:57] jricher opened #249 "Privacy Considerations for Subject Identifiers"
Subject identifiers as used in GNAP have different privacy considerations based on their nature, this needs to be drawn out in extended privacy discussions within the core document. See #241 for some aspects of this.

[2021-04-14 15:58] jricher commented on #133
Subject identifier privacy considerations discussed in #249

[2021-04-14 15:58] jricher commented on #241
Privacy considerations discussion moved to #249

Since access tokens are opaque to clients, clients do not have any input into the contents of the access token itself, including any inclusion or format of user identifiers.

[2021-04-14 16:04] jricher commented on #213
ACLs and identity-based access are just one of many models for protected resources, GNAP cannot be focused on only one such model and needs to remain agnostic to these aspects.

[2021-04-14 16:06] agropper commented on #237
I'm not sure we should touch this privacy third-rail unless we really mean to reopen a discussion of resource owner. A Resource Server is free to publish anything it wants but once it publishes something specific to a resource owner, it becomes a controller rather than a processor. If we take this path, even via extensions, we risk going in circles.

[2021-04-14 16:08] jricher commented on #240
GNAP core is agnostic to how the AS and RS establish their relationship. The GNAP-RS extension created by #246 describes some mechanisms by which this relationship can be established dynamically if desired.

[2021-04-14 16:10] jricher commented on #190
AS-RS discovery is covered in GNAP-RS created by #246

[2021-04-14 16:12] jricher commented on #187
duplicate of #237

[2021-04-14 16:12] #187 closed

[2021-04-14 16:12] jricher commented on #188
Duplicate of #237

[2021-04-14 16:12] #188 closed

[2021-04-14 16:22] jricher commented on #203
- GNAP will not specify exact error codes for the APIs it protects, but will give guidance to use an appropriate error-class code with response headers
- AS-discovery is discussed in GNAP-RS created by #246

[2021-04-14 16:37] jricher commented on #191
Tokens may or may not have time-based expirations at all, GNAP is agnostic to this. This level of behavior specification is not required for interoperability as defined by GNAP. Methods for validating access tokens are discussed in GNAP-RS created by #246

[2021-04-15 14:29] jricher commented on #225
Closed by #226

[2021-04-15 14:29] #225 closed

[2021-04-15 19:28] jricher commented on #196
The approach proposed in #201 should address these concerns by and large, and this issue will close with #201

[2021-04-16 00:33] jricher commented on #201
Closes #196

[2021-04-17 15:40] Denisthemalice commented on #244
I took the final messages of this thread. How they relate to the topic of this thread which is
"Refactoring the internals of access request" is unclear to me.

**_@fimbault_**: I fully agree with you when you write:

**_@jricher._** I also agree with you when you write:

Some people might think that all the re-usable attributes across many different kinds of APIs have already been defined,
 such a

[2021-04-17 15:48] Denisthemalice commented on #210
This issue is marked "Pending Close", however its topic is important.

**_@fimbault_**: Thank you for your support. The classification of sub_ids is indeed important.

**_@jricher_** The SECEVENT list is rather silent for more than one month.
I have posted a message that has still not been responded by the editors.

This topic should be unmarked from the marking " "Pending Close".

[2021-04-17 15:56] Denisthemalice commented on #203
This issue has been marked as "Pending Close", however the topic is rather important.

**_@jricher_** : When a request/command is sent, the error codes should be mentioned.
This is one of the pillars for **_interoperability_** and **_testing_**.

I can't understand why you refuse to mention all of them. The text proposed above would take less than one half page.

**_@jricher_** : This issue is ful

[2021-04-17 16:01] aaronpk commented on #203
The reason for marking the issue as "pending close" was stated above.

[2021-04-17 16:03] aaronpk commented on #210
The reason for marking the issue "pending close" was stated above. If you have new information to bring to the issue we can continue the discussion.

[2021-04-17 16:11] Denisthemalice commented on #212
**_@jricher_** : You wrote:

The current definition of a RS in the draft is :

More accurately, a RS provides operations on **_protected objects_** (owned by one or more ROs) hosted by a RS.

The current definition also mentions "a **_valid_** access token issued by an AS".
This seems to means a **_GNAP_** access token issued by an AS rather than a **_valid_** access token issued by an AS".

When

[2021-04-17 16:31] Denisthemalice commented on #203
**_@aaronpk_**: Your reply does not respond to my technical arguments.

[2021-04-17 17:50] Denisthemalice opened #252 "Interaction (1) between the Client Instance and the RS as described in the first figure"
The text is as follows:

**_Section 10.4_** is called: 10.4. Requesting Resources With Insufficient Access.

This is the very first exchange and its description comes in the very last section of the current draft which is placed within section 10
which indicates: "In some deployments, a resource server will need to be able to call the AS for a number of functions."

**_Section 10.4 has nothing to

[2021-04-17 17:50] Denisthemalice commented on #241
This issue has been marked "Pending Close", however its content is fundamental.

**@jricher**. You wrote:

including any inclusion or format of user identifiers.

This issue is not related to the access token format, but to what kind of information (in particular rights and/or attributes)
will be placed into the access token, **_whatever its format may be_**.

We are no more in the case of OAuth w

[2021-04-17 17:51] Denisthemalice commented on #240
This issue has been marked "Pending Close", however its content is important.

@jricher . You wrote:

This is not the topic of this thread.  As an example, OAuth is mandating the AS and the RS to have a prior relationship.
However, "OAuth core is agnostic to **_how_** the AS and RS establish their relationship".

Token format negotiation is not needed when the AS and the RS have a prior relationsh

[2021-04-17 17:51] Denisthemalice commented on #238
This issue has been marked "Pending Close", however its content is important.

The mechanism described in section 2.1 is rather different and much more complex than supporting the concept of
**_a "service" supported by a set of RSs_**.

The two mechanisms can co-exist.

[2021-04-17 17:52] Denisthemalice commented on #237
**_@jricher_** : You wrote:

I believe that the topic belongs to the core of the document. I have created an issue with a different title that considers several aspects related to the very first request made by client to a server and hence it is larger than the topic of this thread which is limited to "How can a client identify which ASs are trusted by the RS.

The title of this new issue #252 is

[2021-04-17 17:52] Denisthemalice commented on #191
**@jricher:** It seems that we are in agreement.

Some text should be added into the current draft to capture this agreement.

However, this is not currently captured in #246 since the single occurrence of "valid" in issue #246  is a reference to this issue #191.

[2021-04-17 17:54] Denisthemalice commented on #190
This issue has been marked "Pending Close", however its content is fundamental.

**_@justin_** You wrote:

This topic of this issue is "Tentative proposal for a RS discovery mechanism" which is fully unrelated
with a **_AS-RS discovery_** since it applies to a **_Client-RS discovery_** protocol

This issue should not be yet closed

[2021-04-17 17:54] Denisthemalice commented on #189
This issue has been marked "Pending Close", however its content is fundamental.

#246 is not currently addressing the token format negotiation.

A token format negotiation implies both a query to the RS and a query to the AS made by the client,
so that the client can indicate to the AS (in case of a match) one access token format.

This issue should not be yet closed

[2021-04-17 17:54] Denisthemalice commented on #185
This issue has been marked "Pending Close", however its content is fundamental.

**_@jricher:_** You wrote:

The issue #246 does not contain wordings like **_unauthenti_** or **_authenti_** so I really wonder how #246 can address this issue.

This issue should not be closed

[2021-04-19 14:43] jricher opened #253 "Discuss MTLS deployment differences"
The security considerations should discuss the differences between PKI-based (with a CA) and non-PKI keys. This is especially relevant to MTLS signing as it changes how the server-side of the TLS connection is deployed.

[2021-04-19 14:47] jricher commented on #253
See discussion on different deployments at: https://github.com/ietf-wg-gnap/gnap-core-protocol/pull/250#discussion_r615835939

[2021-04-20 19:19] jricher commented on #105
I'm more in favor of a defined API that the client can use to update its keys as well as anything else it needs to, a la RFC7592. Features that rely on the AS to fetch the latest values are susceptible to a number of problems:

 - Not all clients can host URLs (mobile clients specifically, and these are most likely to want to rotate keys dynamically)
 - The AS fetching items opens it up to SSRF at

[2021-04-21 13:37] #75 closed

[2021-04-21 13:41] #224 closed

[2021-04-21 13:42] #114 closed

[2021-04-21 13:49] #185 closed

[2021-04-21 13:49] #189 closed

[2021-04-21 13:49] #190 closed

[2021-04-21 13:49] #191 closed

[2021-04-21 13:49] #203 closed

[2021-04-21 13:49] #210 closed

[2021-04-21 13:49] #212 closed

[2021-04-21 13:49] #213 closed

[2021-04-21 13:49] #237 closed

[2021-04-21 13:49] #240 closed

[2021-04-21 13:49] #241 closed

[2021-04-21 14:27] #176 closed

[2021-04-27 00:26] aaronpk opened #255 "Security consideration: warn about the potential for creating phishing links"
Under certain circumstances, GNAP could be used to create phishing links at the authorization server's domain. This should be listed as a security consideration, along with the circumstances under which this can happen and how to avoid it.

Specifically, if a malicious developer uses a public GNAP API (e.g. github, google, twitter) with a redirect URI of the attacker's website, the attacker could

[2021-04-27 11:35] jricher commented on #255
Client authorization is one mitigation, and an allowlist/blocklist/warning of the target URL is another. This can even be enforced, at least partially, on initial request since the `finish` URL isn't passed in the front channel.

[2021-04-27 11:40] jricher commented on #255
Related (but with different trust metrics): the AS can send an arbitrary URL back to the client, which the client will launch the user to.

[2021-04-28 15:23] #201 closed

[2021-04-28 15:23] #218 closed

[2021-04-28 15:23] #231 closed

[2021-04-28 15:23] #196 closed

[2021-04-28 16:51] #171 closed

[2021-04-28 16:52] #16 closed

[2021-04-28 20:11] #205 closed

[2021-04-28 20:11] #248 closed

[2021-04-29 23:26] tplooker opened #257 "Format of defining REQUIRED vs OPTIONAL request/response elements"
While reading through the latest draft, I found the expression of whether a request/response element is REQUIRED, OPTIONAL (or even perhaps conditional) is not very consistent. For instance in the top of [section 2](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-05.html#section-2) nothing is defined about whether any of the top level request elements (access_token, subject, client,

[2021-04-30 10:45] jricher commented on #257
I agree that consistency is better and more readable, and the editors will make an editorial pass to clean up things like this throughout the document. Note that CONDITIONAL is not a [BCP14](https://www.rfc-editor.org/info/bcp14) normative term, while REQUIRED and OPTIONAL both are, so we can't use the exact rule as suggested here.

[2021-05-04 00:48] tplooker commented on #257
Thanks @jricher, agree this is purely editorial and therefore perhaps not high priority for the editors right now. However, w.r.t to conditional elements what do you propose the convention be for this? As even though the term CONDITIONAL is not defined under BCP14 some way to convey this meaning in an elements definition may be useful from a readability perspective.

[2021-05-08 10:25] yaronf opened #258 "Add an "implementation status" section"
Now is a good time to add this information into the draft, per https://tools.ietf.org/html/rfc7942.

Note that according to RFC 7942, this section will be removed before the protocol is published as an RFC.

[2021-05-09 00:25] agropper commented on #221
A DID is a reference to a (typically) public control structure called a DID Document. Because DID Documents are presumed public and therefore easily aggregated and indexed, it's desirable to limit their content to only those structures strictly dependent on control by the DID subject. This includes authentication and encryption keys as well as service endpoints. The service endpoints are the demar

[2021-05-09 07:35] fimbault commented on #221
Interesting as an overview of possibilities. There are quite a few implications for implementers, who will need guidance on how to do that in practice.

It's suggest to also review the difference between public DIDs vs potentially more restricted DIDs (eg. peer DID, orb, keri).

[2021-05-09 13:16] agropper commented on #221
DIDs like peer, orb, keri avoid the cost and transparency of a public ledger while preserving the self-certifying feature of DIDs. This does not change anything when DIDs are used for authorization and delegation such as the cost of processing unsolicited messages and requests. The public ledgers themselves do not typically "publish" DIDs or DID Documents either but simply provide a root of trust

[2021-05-09 18:49] fimbault commented on #221
Yes indeed, my comment was really related to what we mean "typically", especially when there's such a large variety of methods in the wild, some of which might expose the user more than others. It is entirely possible to publish DIDs and their updates, so a bit of guidance as to what we consider good practice might help.

[2021-05-09 19:03] agropper commented on #221
It might be wise to steer clear of the DID method issues. The DID [rubrics](https://w3c.github.io/did-rubric/) document I linked  above could be enhanced with some GNAP-related points if we have some.

GNAP can provide guidance on how to use service endpoints based on the [DID-CORE](https://www.w3.org/TR/did-core/) without any method-specific language.

[2021-05-09 19:07] fimbault commented on #221
I like the idea.

[2021-05-11 10:42] Denisthemalice commented on #244
**_@jricher_** and **_@fimbault_**:  You appear now to understand each other which is fine.

The four lines from **_jricher_** are a bit obscure for me, but seem to be a way forward.

I would be interested to see some text with some examples that explain how groups or roles can be supported,
as well as examples where attributes like "country of citizenship", "date of birth" or  "country of residen

[2021-05-11 11:20] fimbault commented on #244
`group` and `role` would fit into `access` (based on strings).
suggested attributes don't fit very well into that model, because you'd need both an attribute label and an attribute value.

[2021-05-11 13:32] jricher commented on #244
Right, or you could just define `group` or `role` within your API's `type` definition, if `access` doesn't fit well for what you're doing.

I would be happy to have additional examples with API-specific terms in them. What we have right now was pulled largely from the financial examples in RAR and modified from there. So we could easily do something like:

[code]

And so on. This would not define

[2021-05-11 13:44] fimbault commented on #244
Yes, that's always a possibility. Of course the AS and RS will need to agree also on what that specific `type` means.
There are lots of such attributes that APIs could use at one point.

[2021-05-11 13:50] agropper commented on #244
How would this work in cases where the RS API is based on a regulated
standard data model like FHIR R4 https://www.hl7.org/fhir/ ?

- Adrian

On Tue, May 11, 2021 at 9:45 AM Fabien ***@***.***> wrote:

[2021-05-12 15:24] jricher opened #260 "Move client-facing sections back from RS draft"
client requests to RS w/o access token should be covered in core (client-facing protocol)

See #118 also

[2021-05-12 15:37] aaronpk commented on #252
This issue no longer applies, since the diagram referenced has been updated and no longer implies that the client has to call the RS. Section 10.4 will also be moved back into the core draft as being tracked by #260.

[2021-05-12 15:37] #252 closed

[2021-05-12 15:44] aaronpk commented on #192
The editors are marking this issue "pending close" since the many issues brought up in this thread have been resolved:

* new diagrams have been added for the case when there is no RS ([section 1.4.6](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-05.html#section-1.4.6))
* we've clarified that the RO does not interact with the RS
* the AS-RS parts have been moved to a new draft

[2021-05-13 09:15] Denisthemalice commented on #192
The first figure in section 1.4 has indeed been revisited with a major change: the first interaction between the client and the RS
has been removed !

The (single) good news is that a new diagram has been added for the case when there is no RS case. Thanks.

However the remaining of the section still only contains examples where none of them is addressing the case of an end-user,
a Client, an AS a

[2021-05-15 13:39] Denisthemalice commented on #244
@aaronpk: In issue https://github.com/ietf-wg-gnap/gnap-resource-servers/issues/9 you wrote:

However the title of this issue was:

**_Capabilities only (i.e. actions) are supported. ACLs (i.e. attributes associated with a subject) should also be supported_**

This goal should not be forgotten.

**_@jricher_** answered to **_@fimbault_** :

I have a problem with the **_always_** since there exists

[2021-05-29 18:25] Denisthemalice opened #262 "Should the reader understand that a RS can only be protected by a single AS ?"
In Section 1.4, The text states:

The other cases that do not fall under the "most situations" are not described. In particular when the client does not know which AS**_s_** (note the plural) are trusted by the RS. How can an end-user make a choice between these Authorization Servers ?
Or should the reader understand that, in this model, a RS can only be protected by a single AS ?

[2021-05-29 18:25] Denisthemalice opened #263 "Negotiation of the token format by the client should be mentioned in section 1.4"
When should/can **_the client_** use the _soon-to-be described protocol_ in draft-ietf-gnap-core-protocol
to negotiate the token format between the AS and the RS ?

This should be mentioned in section 1.4, even if the details are [I-D.draft-ietf-gnap-resource-servers].

[2021-05-29 18:26] Denisthemalice opened #264 "How can an AS determine "what is needed" to fulfill the request ?"
In section 1.4, the text states:

How can the AS "_**determine what is needed to fulfill the request**_" ?

Shall the AS have established some prior relationship ?

If yes, what such relationships consist of ?
If no, can "other means" be used ?

[2021-05-29 18:28] Denisthemalice opened #265 "What kind of control may a client have about the content of a returned access token ?"
In section 1.4, the text states:

Shall the client blindly forward the access token to the RS ?

What kind of control may a client have about the content of a returned access token before it is delivered by the AS to the client ?

If the client has no control, what are the implications in terms of the end-user privacy ?

[2021-05-29 18:28] Denisthemalice opened #266 "The access token verifications to be perfomed by the RS should be described"
In section 1.4, the text states:

this access are out of scope of this specification, but some options are discussed in [I-D.draft-ietf-gnap-resource-servers].

In I-D.draft-ietf-gnap-resource-servers, Section 3.3. Token Introspection states that "The response MAY include any fields defined in an access token response" which is not helpful for interoperability purposes.

The general treatment of a

[2021-05-30 14:13] jricher commented on #263
As previously discussed many times, the client does not negotiate the token _format_. The token format and its contents are opaque to the client.

[2021-05-30 14:13] #263 closed

[2021-05-30 14:15] jricher commented on #262
While the RS may be protected by several AS's, the client is not given a choice of which AS to use. As previously discussed, you can propose an extension that defines this kind of discovery mechanism and see if there is support within the working group for it. Previously, there has not been support for this kind of mechanism.

[2021-05-30 14:15] #262 closed

[2021-05-30 14:16] jricher commented on #265
1) Yes.

2) None.

3) End user privacy is protected and enhanced by not having the client look into the token or describe its contents.

[2021-05-30 14:16] #265 closed

[2021-06-11 15:35] #118 closed

[2021-06-23 15:48] #217 closed

[2021-07-12 14:12] #45 closed

[2021-07-12 17:39] yaronf commented on #134
I would appreciate more detail here:
- A finite list of specific extension points that we want to enable (additional claims in the request? in the response?). IMO supporting too many extension points leads to code complexity, hence security issues. It also makes it harder to formally verify the protocol.
- Features that we trimmed and that we'd like to enable to reinstate if someone cares about th

[2021-07-18 06:31] Denisthemalice opened #276 "The document is currently unable to follow the standards track"
It is currently impossible to identify a subset of the protocols described in the document that would allow this document to follow the standards track

RFC 2026 (Internet Standards Process) indicates on pages 11 and 12:

Frameworks should be progressed as Informational RFCs.

[2021-07-18 06:34] Denisthemalice opened #277 "No access token structure is being defined or referenced"
No access token format /content is being defined: its format and its content is a private agreement between ASs and RSs.

This issue is related to: Propose an access token model
https://github.com/ietf-wg-gnap/gnap-resource-servers/issues/15

The document does not define the content of access tokens, which makes impossible to specify how a RS shall verify an access token. Security of the exchanges

[2021-07-18 06:35] Denisthemalice opened #278 "Trust relationships are still undefined"
The issue has been opened in March 2021 under the issue #214  and is still open:

However, protocols are directly dependent upon these trust relationships.

Normally, one would expect that a RS can trust more that one AS for issuing access tokens that would contain some set of rights and/or attributes. Unfortunately, this is not presently the case.

The document assumes (without never saying it ex

[2021-07-18 06:37] Denisthemalice opened #279 "Trust relationships between ROs and ASs and between ROs and RSs are left undefined"
A Resource Owner (RO) is defined as a

This is fine.

However, this definition does not imply that a RO necessarily interacts with an AS, which is what the document assumes.
A note on page 8 states:

This means that a RO associated with an AS is always mandated.

The document is rather vague about the trust relationship between a RS and a RO.
It should be remembered that a trust relationship is de

[2021-07-18 06:37] Denisthemalice opened #280 "The access token is opaque to the client instance: transparency cannot be achieved"
On page 45, the text states:

Under this assumption an important privacy property cannot be supported: **_transparency_**.
Without transparency, some users cannot be confident in using such a framework.

Unless this limitation is removed, the lack of this privacy property should be advertised in the privacy considerations section.

[2021-07-18 06:37] Denisthemalice opened #281 "The client is unable to know that a RS is associated with more than one AS"
On page 103, section 9.1, the text states:

This means that a single GNAP endpoint is sent back by a RS.

This parameter should be changed to allow more than one GNAP endpoint to be specified.

[2021-07-18 06:38] Denisthemalice opened #282 "The client has no effective control upon the content of an access token"
Despite the fact that an access token can contain "a set of rights and/or attributes", the client has no control upon the set of attributes that will be inserted into an access token.

On page 8, Grant is defined as:

While this definition is correct, the document does not permit an instance of client software to only receive some chosen attributes at a specific time and valid for a specific durat

[2021-07-18 06:39] Denisthemalice opened #283 "User consent is not supported"
Page 56 states:

The wording “user consent” is being used in the document, but is unrelated to the consent from the user
but is related to the consent of the RO !

This issue about "User choice and consent, and user notice" is still open under issue #215:

smartopain wrote:

I fully agree.

[2021-07-18 06:39] Denisthemalice opened #284 "The document is confusing a Resource Server (RS) with a Protected Resource"
The definition of a RS is given on page 7:

The definition of a Protected Resource is given on pages 8 and 9:

When a client accesses to a RS for the first time, it does not necessarily know that a resource is protected using GNAP, and if protected by GNAP, which ASs are trusted by the RS.

Some resources on a RS can be protected using, e.g., an authentication mechanism while some other resources

[2021-07-18 06:41] Denisthemalice opened #285 "The diagram of the exchanges is mandating a pre-configuration between each pair of AS/RS"
On page 10, the first exchange is now done with an AS instead of a RS. This means that the document is “AS centric”
whereas it should be “RS centric”.

The (A) transaction is described as:

However, the end-user has no clue to know who the RO may be. It only knows which resource it wants to access to and which operation he is willing to perform on that resource. At this time, it does not even know

[2021-07-18 06:41] Denisthemalice opened #286 "In practice, only rights are supported but attributes should also be supported"
In an access control model, the RO may be associated either with an AS or with the RS.

In the first case, the AS includes capabilities (i.e. a right on a resource) into an access token while
in the second case it includes user's attributes.

However, the document is currently allowing only the support of capabilities.

On page 25, the text states:

However, in practice, flags it only indicate som

[2021-07-18 06:42] Denisthemalice opened #287 "About the locations field"
In section 1.4, the locations field is missing. It is defined on page 97:

These strings are URLs identifying the location of the resource (i.e. not the location of the RS).
The location of the RS may be inferred from the location of the resource.

Change into:

[2021-07-18 06:43] Denisthemalice opened #288 "Since both rights and resource locations must be disclosed to the AS, the AS can act as Big Brother"
The title says it all.

This document has been built along “no-privacy by design” rules, despite the fact that it has been said on the mailing list:
“**_privacy is important_**”.

At the current time, all the properties that would allow an AS to act as Big Brother have been defined in the document
(and none to stop it). By design, the AS is able to gather information it needs to act as Big Brother

[2021-07-18 06:43] Denisthemalice opened #289 "Bearer tokens should not be supported or be deprecated"
Bearer tokens are so easy to be forwarded by a client to another client that they should not be supported.

This does not mean that one client cannot forward sender-constrained tokens to another client, but this is less straightforward.

[2021-07-18 06:44] Denisthemalice opened #290 "Checks needed to defeat user collaborative attacks are unfortunately out of the scope of the document"
On page 11, in step (7) the text states:

The means of the RS determining this access are out of scope of this specification”.

This means that checks that would be able to defeat a user collaborative attack are out of the scope of the document.
The controls able to defeat such an attack mandate the presence of one or more attributes chosen by the client into an access token.

If such attributes c

[2021-07-18 06:45] Denisthemalice opened #291 "Requesting RO Information or Requesting Subject Information?"
Section 2.2 is currently called:

Then the text continues with:

This means that this section is currently restricted to the RO.
Since this call is restricted to the RO, the title of this section should be changed into: **_Requesting RO Information_**.

In addition, the reason(s) for requesting such information is not mentioned and should be explained.

As a side-consequence, a user has no on-line

[2021-07-18 06:47] Denisthemalice opened #292 "Does a client instance really need to be identified by a unique key ?"
On page 6, the text states:

Section 2.3 is called:

It is quite odd to say that a **_unique key_** identifies a client instance.
The wording “unique key“ does not appear anywhere else in the document.

On page 23, in section 2 (Requesting Access), the text describes the following data element:

Protecting the exchanges between the client and the AS using a unique key specific to a client looks li

[2021-07-18 06:47] Denisthemalice opened #293 "Token Management functions are over-engineering"
Token Management (section 6) is dealing with:
-	Rotating the Access Token, and
-	Revoking the Access Token.

If the access token has expired, it is simpler for the client instance to ask for a new access token rather than for a “rotation” (??).

If the access token has been revoked, rather than “indicating to the AS that the AS should invalidate the access token for all purposes”, the client insta

[2021-07-18 14:03] jricher commented on #292
The key is the core identity of the client instance. Merely requiring https would not allow differentiation between instances nor authentication nor registration.

[2021-07-18 14:04] jricher commented on #293
These are optional functions for advanced clients and therefore do not place burden on clients that do not want to do them.

[2021-07-18 14:05] jricher commented on #290
Yes, this is out of scope but not because of what you wrote here: Users can collaborate without using access tokens at all by simply making the software calls for each other.

[2021-07-18 14:10] jricher commented on #289
The attacks on bearer tokens don't involve a client knowingly forwarding the token, but rather another party such as the rs using or forwarding the token. A client can always simply forward the key material, or even make a call on behalf of someone else. Nothing can stop that.

This was discussed extensively when the group was founded. There is strong desire to keep support for bearer tokens but G

[2021-07-18 14:11] jricher commented on #288
This is already discussed in privacy considerations and can be expanded, if you would like to provide some less-inflammatory text.

[2021-07-18 14:13] jricher commented on #287
The strings could identify the rs or a specific resource, it's up to the AS and RS to determine that detail, which is why the text in question is an example.

[2021-07-18 14:14] jricher commented on #286
The flags field is not for determining access.

Attributes can already be supported by the access structure.

Closing this issue as it has been discussed many times.

[2021-07-18 14:14] #286 closed

[2021-07-18 14:16] jricher commented on #285
This is not true. The relationship between AS and RS can be dynamic as discussed in the RS document. That relationship is out of scope for the core protocol which is concerned with the client instance.

[2021-07-18 14:18] jricher commented on #284
This document is not concerned with resources that are not protected by GNAP. It is not meant to be a universal security solution for the internet.

Closing this issue as this has been discussed several times.

[2021-07-18 14:18] #284 closed

[2021-07-18 14:18] jricher commented on #283
Please do not copy other issues.

Closing as duplicate.

[2021-07-18 14:18] #283 closed

[2021-07-18 14:19] jricher commented on #282
The access token is opaque to the client.

[2021-07-18 14:19] #282 closed

[2021-07-18 14:20] jricher commented on #281
As previously discussed, alternative discovery mechanisms can be proposed, for simplicity a single AS response was chosen to be represented.

Closing this issue as this had been previously discussed.

[2021-07-18 14:20] #281 closed

[2021-07-18 14:20] jricher commented on #280
Closing this issue as access token opacity has been previously discussed at length.

[2021-07-18 14:20] #280 closed

[2021-07-18 14:21] jricher commented on #278
Please do not copy other issues.

[2021-07-18 14:21] #278 closed

[2021-07-18 14:22] jricher commented on #277
This is covered in the RS document, closing this issue.

[2021-07-18 14:22] #277 closed

[2021-07-18 14:22] jricher commented on #276
This is a protocol and not a framework.

[2021-07-18 14:22] #276 closed

[2021-07-19 02:12] agropper commented on #288
As I read it, the spec allows any RO to specify any AS to the RS or to
request a set of capabilities from the RS. This gives the RO two different
ways avoid surveillance by operating a self-sovereign GNAP AS:
- register their AS with the RO
- share the capabilities with their AS

Please confirm,

- Adrian

On Sun, Jul 18, 2021 at 10:11 AM Justin Richer ***@***.***>
wrote:

[2021-07-19 12:37] jricher commented on #288
@agropper That is correct -- not ever RS will accept "any" AS, but it's free to do so and the core document doesn't care how that happens (the RS document has some ways for it to happen). To your second point, the spec allows the processing of attributes/capabilities/policies to be externalized from the AS by allowing the interaction phase to be something other than "log into the AS with your acco

[2021-07-19 18:31] aaronpk commented on #280
For future reference, this thread has the main discussion on this topic: #145

[2021-07-19 18:32] aaronpk commented on #284
See also: #212

[2021-07-19 18:33] aaronpk commented on #282
Previously discussed in #145

[2021-07-19 18:37] aaronpk commented on #289
Agreed, a client can voluntarily share key material and tokens or even raw data, and there's no way to stop that. Like Justin said, the interesting things that can be prevented by avoiding bearer tokens are parties _other than the client_ (e.g. a Resource Server) passing on the token accidentally or maliciously. That said, there are still cases where this is not a concern, such as when all roles (

[2021-07-20 16:35] Denisthemalice commented on #292
@jricher.  Would you be able to explain what you mean by:

[2021-07-20 16:35] Denisthemalice commented on #293
Yes, these are optional functions, but this does not prevent to mention these alternatives in the document for "less advanced" clients.

[2021-07-20 16:38] Denisthemalice commented on #290
@jricher wrote:

Yes, but this is not the point. The key point is to take advantage of a right or of an attribute that belongs to another user,
**_without the need for the other user to be on line present anymore_**.

It is important to define the context and, then after, the conditions that allows a RS to **_detect_** collusion attacks.

Let us assume that two users have legitimately opened a ses

[2021-07-20 16:38] Denisthemalice commented on #289
@jricher wrote:

This forwarding attack by a RS can easily be countered. It is sufficient to include into the access token either a true identifier or a concealed identifier of the RS, so that each RS can verify to which RS the access token was intended to.

This has been explained on the mailing list about one year ago.

This is an additional argument why the structure of the access token should

[2021-07-20 16:39] Denisthemalice opened #295 "In practice, only rights are supported but attributes should also be supported"
The chairs have indicated that is possible to re-open an issue, if it is considered that its has been closed too early.

 This is the case for the issue #286 (In practice, only rights are supported but attributes should also be supported )

Denisthemalice opened this issue 2 days ago and wrote:

@jricher commented 2 days ago

I don't understand the sentence : "Attributes can already be supported b

[2021-07-20 16:55] jricher commented on #292
If two different client instances make the same request over HTTPS, how does the AS differentiate between them? How are subsequent requests protected? HTTPS does nothing here.

[2021-07-20 16:58] jricher commented on #293
The alternatives are simply not doing the optional functions, and this is already mentioned.

[2021-07-20 17:01] jricher commented on #295
The chairs have indicated that the group can re-open issues when more discussion is needed. Individuals are not to simply re-open issues when they don't get the answer they want. This is not productive conversation and driving consensus.

This issue has been discussed at length. The access structure can be extended with anything, including an `attributes` field if that makes sense to the RS being

[2021-07-20 17:16] aaronpk commented on #290
So you put a user identifier into the token, great, let's call it "user1". Now that user gives their access token to another user. The token still has the original user's identifier "user1" in it, but now it's being used by user 2. This is not detectable by the RS, it just looks like the request is being made by user 1. Am I missing something?

[2021-07-21 08:51] Denisthemalice opened #296 "Re-opening of: In practice, only rights are supported but attributes should also be supported"
Justin,

You wrote :

if that makes sense to the RS being protected.

On June 3, 2021, I got a private message from Yaron (one of the co-chairs) with a copy to Leif (the other co-chair). That message said:

So I have scrupulously followed the instructions of the chairs. In addition, I explicitly asked you:

Despite this request, you closed the issue.

Keep in mind that other members of the WG migh

[2021-07-21 13:22] aaronpk commented on #296
You are welcome to use structured access tokens and put whatever you want in them in an implementation of GNAP. This has been discussed many times so this issue should be closed since it is not bringing up any new information to the discussion.

[2021-07-21 13:23] aaronpk commented on #289
@Denisthemalice please respond to me comment on #290 before continuing to repeat arguments in other issues

[2021-07-21 14:02] jricher commented on #296
Even without structured access tokens, the access array can be extended by whatever means you'd like:

And

So yes, attributes can be covered here if it suits the API.

[2021-07-21 15:06] fimbault commented on #291
Maybe we'll need a bit of rewording, although I'm not sure the proposed changes help so much. I just think we should put more emphasis (and state early on) what is shortly described at the end of section 4, i.e. that here RO = end-user

[2021-07-21 15:44] fimbault commented on #279
"an access token can be first issued to a client instance (requiring authorization by the RO) and subsequently rotated” is just a note in 1.3, and so is not a normative requirement.

The trust relationship is issue #214.

[2021-07-21 15:44] fimbault commented on #279
Closing as duplicate

[2021-07-21 15:44] #279 closed

[2021-07-21 15:49] fimbault commented on #285
We also have section 9.1 "RS-first Method of AS Discovery" which permits a scalable approach.

[2021-07-21 16:20] fimbault commented on #244
Closing following the [PR](https://github.com/ietf-wg-gnap/gnap-core-protocol/pull/259)

[2021-07-21 16:20] #244 closed

[2021-07-22 13:09] yaronf commented on #295
i don't like this meta discussion about when tickets can be closed or not, I think it comes at the expense of actually addressing the issue.

Denis may be nitpicking here, but I agree that Sec. 3.2.1 is not explicit that the access token may be arbitrarily extended, nor more specifically that it can contain client properties. This may be obvious to the authors, but not to all readers.

[2021-07-22 14:01] jricher commented on #295
@yaronf the contents of the access token are expressly opaque and not defined in the core document, what's being discussed here is instead the kinds of things that can be asked for. Denis's question is not about properties of the client in the access token, though those could be included (and this is a discussion for the RS document). What's being requested here is that the client be allowed to as

[2021-07-22 14:56] Denisthemalice commented on #296
@jricher With such a reasoning, I could say : MAC (Mandatory Access Control) is supported because the access array can be extended with elements like "Finance, Confidential" or "Strategy, Top Secret" ... but it will be impossible to inter-operate.

Such an approach would be perfectly valid if we were writing a framework. but we are supposed to write protocols and we are supposed to follow the Stan

[2021-07-22 14:56] Denisthemalice commented on #214
@jricher : Would you be able to provide some text when capabilities (i.e. rights) are being supported?

[2021-07-22 14:56] Denisthemalice commented on #215
@jricher : Would you be able to respond to @smartopian arguments and to my arguments ?

[2021-07-22 14:56] yaronf commented on #295
Alternatively, @Denisthemalice may want to provide a small initial list of attributes, and if we have consensus on them, we could add it (as optional, of course) to the access request.

[2021-07-22 14:57] Denisthemalice commented on #288
The key sentence I wrote is:

Since you have all the arguments, you are well placed to write an appropriate text _when capabilities are supported._

However, if attributes only (which imply the use of ACLs)  are supported, **_it is possible to prevent the AS to behave as Big Brother_**.

[2021-07-22 14:58] Denisthemalice commented on #290
Let us use a simple example, where access tokens contain in a "sub-alt" claim a globally unique user identifier (as in case 1.1 above).

Let us assume that user1 is known by the RS under "user1@company.com" while user2 is known under "user2@company.com".

When user2 presents to the RS an access token that contains the "sub-alt" claim, "user1@company.com", the RS will notice that a
the "sub-alt" cl

[2021-07-22 14:58] Denisthemalice commented on #289
I have just replied to your comment on #290

[2021-07-22 15:00] Denisthemalice commented on #291
RO = end-user is not the general case.

The usefulness of supporting **_Requesting RO Information_** is not crystal clear and should be indicated,
but there is an interest to support  **_Requesting User Information_**.

While I agree with you that "_we'll need a bit of rewording_", simply stating that **_RO = end-user_** in section 4 will not solve the issue.

[2021-07-22 15:01] jricher commented on #295
@yaron that was discussed at length in #244 and closed with #259 by adding the `privileges` field to the access request and extending the discussion around API-specific claims.

[2021-07-22 15:23] jricher commented on #290
@Denisthemalice in your example, how does the RS know that it's user2 presenting the token with a sub-alt claim of "user1@company.com"? If the access token has that claim, how else is the RS supposed to know that "this is actually user2" besides what's in the access token? Especially if user1 and user2 are colluding, as you describe in your attack, and user1 has willingly handed both the access to

[2021-07-22 15:28] jricher commented on #296
We are writing a protocol that works at the security layer, not at the API layer. By your argument, HTTP and TCP aren't protocols either because you can build two incompatible APIs on top of them. This is obviously a flawed argument, as anyone can see.

It's exactly the same thing here. The description of the rights of access are not universal by any means, and pretending otherwise would mean this

[2021-07-22 15:34] aaronpk commented on #290
This is the part I'm confused about. How does the RS know what user to expect so that it knows this value is wrong?

[2021-07-23 13:20] Denisthemalice commented on #290
I realize that the wording "in the access token" was missing in the sentence you quoted. The corrected sentence is:

I guess that your question is about the following sentence:

There are many ways to do this and there is no intent to standardize all of them. However, some examples could be provided.
Let us use one banking example.

A bank already knows its customers. The bank would contact its cu

[2021-07-23 13:32] jricher commented on #290
@Denisthemalice I think you're misunderstanding the question that @aaronpk  and I are asking: the globally unique identifier of `user1@company.com` is in the access token, sure. This token is presented (with valid key material if need be) by `user2`. Remember, the access token is presented by software to the RS. There is no user authentication involved, at all, since it's an API call -- which is w

[2021-07-23 14:16] Denisthemalice commented on #290
In the example, the RS knows that it receives an access token that contains user1@company.com.
This does not allow user2 to perform any operation on his own account at the RS, but only on the user1 account.

As an example, if user1 is over 21  and user2 is under 13, if the access token contains an attribute saying "over 21", user2 cannot take advantage of it on his own user account.

Now, let me r

[2021-07-23 14:18] jricher commented on #290
Then there is no problem here since the access token represents `user1`. You can already do that in the existing GNAP protocol, and people do this all the time today with OAuth 2 as well. Can we close this issue, then?

[2021-07-23 14:19] Denisthemalice commented on #296
@jricher . You wrote : "We are writing a protocol that works at the security layer".
Section 12 (Security Considerations) is still rather thin. Here it is:

What kind of checks should be done on the access token by the RS in order to accept it or to reject it ?
The document is silent about this.

What kind of security is provided to prevent an access token to be forwarded by a RS or by a client ?

[2021-07-23 14:31] Denisthemalice commented on #290
Firstly, we should not close this issue, because you are not the single member of the WG and some members will only be informed of these exchanges on this thread next Sunday.

"People do this all the time today with OAuth 2", only if they support the access token profile and if they make the appropriate checks (which may be doubtful).

Secondly, the arguments are about defeating a user collaborati

[2021-07-23 14:53] jricher commented on #290
There is no "single member" of the working group -- that's why it's a working _group_. No one member's opinion rules -- including yours, please remember. These duplicate issues have been closed because they continue to repeat things without bringing new aspects to the conversation.

This thread for example says that when a token represents access for a specific user, the token should indicate that

[2021-07-23 14:54] jricher commented on #296
Access token structure is a consideration of the RS document, not the core document. The client shouldn't know or care what attributes are in the token.

ABAC and RBAC can already be supported.

[2021-07-23 15:21] aaronpk commented on #290
From the original text of this issue:

This claim is false. There is nothing in GNAP that says you _cannot_ incorporate attributes into an access token. Instead, GNAP does not require any particular structure or format for access tokens, so it is up to a particular implementation to choose how to handle this.

I propose we close the issue with no changes. If you want to add text to the security co

[2021-07-23 15:23] yaronf commented on #295
@jricher Privileges are a function of both the client and the resource (which is true in general for anything in the access request), whereas what I'm hearing @Denisthemalice requesting is client (or user?) attributes that are not related to any specific resource. But back to my previous comment, I would like to see more concrete examples before we make any changes.

[2021-07-23 16:43] Denisthemalice commented on #290
@jricher . You wrote:

When a reader will read this document, he may not be aware of this"well understood best practice" unless it is explicitly written in the document. At the moment, it is not present.

But the thread is addressing another aspect that has not been addressed before : being able to choose how a user would like to be identified in the access token towards a given RS according to hi

[2021-07-23 16:43] Denisthemalice commented on #296
The exchanges between the client and the AS as well as between the client and the RS should be part of the core document.

When writing "the **_client_** shouldn't know or care what attributes are in the token" you are considering that
"the **_user_** shouldn't know or care what attributes are in the token" which means that you are only considering users who do not care about their privacy. Such u

[2021-07-23 16:52] Denisthemalice commented on #295
Examples of attributes that are not related to any specific resource are:

- family name,
- first name,
- home address,
- citizenships,
- country of birth,
- date of birth,
- email addresses.
- Group memberships: e.g; golf player member from the Saint-Nom la Bretêche golf course with an handicap of X.

This kind of information is considered as **_personal data_** and should only be released to the

[2021-07-23 17:06] jricher commented on #296
Users do not read access tokens. Access tokens are not meant to be human readable. Many access tokens contain no data at all, internally, but reference other data for a system.

Please avoid language such as "only considering users who do not care about their privacy", it is not constructive to the conversation and is deeply misrepresentative of the situation.

[2021-07-23 19:18] Denisthemalice commented on #296
Users (_who care about their privacy_) first want an AS to reveal to a RS only attributes that they have have agreed to be revealed.
The two privacy properties in such a case are :
- **_User Notice_** and
- **_User Consent._**

Secondly, some other users (_who also are about their privacy_) are willing to be confident that what will be disclosed in the access  token or made accessible to a RS by a

[2021-07-23 19:30] aaronpk commented on #296
@Denisthemalice the system you are describing requires a lot more cooperation between all the parties involved, far beyond the scope of a spec like GNAP.

For example, even if a user can see what is inside the access token to verify the attributes inside it, that does not stop the RS from using that access token to talk to the AS to retrieve additional details about the user.

[2021-07-24 06:39] Denisthemalice commented on #296
Yes, additional transactions are required to support **_User Notice_** and **_User Consent._**
None is required to support **_Transparency_**.

It is a matter of choice whether privacy is considered as important or not.

**Token introspection** (described in the other document) is OPTIONAL.
If it is not supported by the AS, then the example you describe cannot happen.

[2021-07-25 13:45] Denisthemalice commented on #292
I believed I had responded to this argument, but apparently it is not the case (or I have responded in another issue).

Section 7 (Securing Requests from the Client Instance) states:

that it possesses, or both an access  token and key proof together”.

The Security Considerations section states:

If the authentication exchange between the user and the AS is protected using TLS, then it is no more

[2021-07-25 14:04] aaronpk commented on #292
Client instances are identified by keys so that access tokens issued to them can be restricted to be only usable by the specific client instance with that key. One of the core limitations with cookies and bearer tokens is that anyone that can manage to get one can use it.

An analogous real-world example is a hotel key. If you find a hotel key on the floor, you can pick it up and go try it at the

[2021-07-25 17:00] Denisthemalice commented on #292
The current specification does not mandate the use of hardware security modules for the clients. If such an hardware security module were used, which would have the single security property to prevent the private key to be extracted out of it, this would not provide any kind of security since the legitimate client could cooperate with another client and perform all the cryptographic computations t

[2021-07-25 18:19] aaronpk commented on #292
This sentence assumes the use of the same TLS channel, which is completely not how any of this works. It is quite common to use new TLS connections for subsequent requests to the AS, for example refreshing an access token hours or days later.

You have again failed to state how the RS is supposed to know what user to expect in order to verify the field in the access token matches the expected valu

[2021-07-25 21:10] Denisthemalice commented on #292
You wrote:

It is obvious that what I am proposing is "completely not how any of this works" as described in the current draft.

You also wrote :

hours or days later.

It is quite common to ask for a user re-authentication if the TSL session with the AS is during too long.
In many systems, this is done automatically if a user inactivity is detected during, e.g. 10 or 20 minutes at most.

In addit

[2021-07-25 22:12] aaronpk commented on #292
I am glad we are getting to the bottom of what you are suggesting. I haven't seen any prior comments from you about this idea, but it sounds like you are suggesting that token lifetimes and other policies are tied to individual TLS sessions. If that is what you're suggesting, there are quite a number of implications of a change like that.

[2021-07-26 14:21] Denisthemalice commented on #290
In issue #292 an interesting question has been raised:

Since it belongs to this issue, it is responded here.

Different scenarios can be envisioned to allow a user to perform operations on a resource (protected under the GNAP protocol).

A user may be willing to perform operations on a protected resource without opening a user account or with the opening of a user account so that next time (days

[2021-07-26 14:40] aaronpk commented on #290
You're still misunderstanding the question.

Regardless of the contents of the access token, or whether it contains a certain type of identifier or any identifier at all, you still haven't described how the RS knows what values to expect in the access token in order to be able to check it against what is expected.

In all the examples you listed, it's still possible for two users to collaborate by

[2021-07-26 15:23] Denisthemalice commented on #290
I believe that I have responded to your question. As example, in the last case:

the operation will be granted,

I would guess that our misunderstanding is coming from the vocabulary.

"User collaboration" is different from "impersonation".  Impersonation cannot be prevented nor detected.

 In the context of **rights** and **attributes**, the main idea is to prevent a user who legitimately got an

[2021-07-26 15:34] aaronpk commented on #290
Here it is again:

How does the RS know what is the "right user"? In order for that to be detectable, the RS needs some information *other than the access token*. What is that other information?

[2021-07-26 15:55] Denisthemalice commented on #290
The answer is slightly  different for each of the three cases.

For case 1, a _temporary user unique identifier_ is assigned by the AS when the first access token is issued. Each subsequent access token issued by this AS during the session between the client and the AS  (usually less than a few hours) will use the same value. So this _temporary user unique identifier_ is memorized by the RS at the

[2021-07-26 17:34] aaronpk commented on #290
Okay, now we're getting somewhere. So to clarify:

You are proposing that the RS use the TLS session identifier to maintain state between requests so that it knows which user to expect in subsequent requests?

[2021-07-26 17:37] jricher commented on #290
@aaronpk just so I am following, this would require TLS token binding and referred token binding, correct?

[2021-07-26 17:40] aaronpk commented on #290
I didn't want to jump to concrete spec proposals just yet, still trying to understand the general architecture patterns being discussed.

[2021-07-27 08:40] yaronf opened #298 "Untrusted security-critical information from the Client"
Both `class_id` and `display` in the access request will be used by the AS and the RO to make security-related decisions. But they are completely determined by the Client, and are not bound in any way to the client's identity (i.e., its key). I suggest to add this text:

Note: this is related to #44 but not exactly the same.

[2021-07-27 08:50] yaronf opened #299 "Why do we even support symmetric keys?"
I don't see any reason to support symmetric keys for Client identification etc. Removing them will remove a (small) point of complexity, at zero cost.

Moreover, whenever people use "shared keys" nowadays these are usually passwords (even if we say explicitly not to use passwords as keys) and those come with a bunch of security issues.

In other words, is anybody still using shared symmetric keys

[2021-07-27 08:52] yaronf commented on #298
The above is stronger than the current language:

[2021-07-27 09:12] yaronf opened #300 "Editorial: references in running text"
Top of Sec. 5:

I think in the plain text version this would be "to return a response {Section 3}" but in the HTML rendering, this comes out incorrect. There are several more cases of this pattern. In Sec. 4:

[2021-07-27 10:46] Denisthemalice commented on #290
@aaronpk . You wrote :

No, this has nothing to do with TLS. The binding of the access token with the right user is made using a specific field included in the access token. In the above examples, that field contains either a unique user identifier or a locally unique user identifier or a globally unique user identifier.

Let us give a name for that new field and call it: a **_binding user identif

[2021-07-27 13:45] aaronpk commented on #290
Okay then we're back to the same unanswered question.

What information does the RS know about the request that enables it to know what "binding user identifier" to expect so that it can reject one that is wrong?

[2021-07-27 14:19] Denisthemalice commented on #290
Well, I tried my best to explain, but apparently I still failed.

In case 1 (not the most useful case), the user is willing to perform anonymously some operations on a protected resource without opening a user account on the RS: all the access tokens coming through the same TLS channel between the client and the RS must bear the same value in the "binding user identifier".

In case 2.1, the RS alr

[2021-07-27 15:01] aaronpk commented on #290
Okay, I am getting a better sense of what you are describing but you still seem to be misunderstanding the question. Let me see if I can ask this differently.

When a client gets an access token from the AS and makes its first request to an RS, this will be the first time the RS sees this particular access token. The RS will validate the token based on whatever rules it deems appropriate in order

[2021-07-27 15:24] jricher commented on #299
I take the opposite view about their inclusion -- it doesn't make sense to disallow them because there's no added complexity. Symmetric keys can be referenced just like public keys/keypairs, and if we are referring to keys by reference rather than value, then the security is comparable in many ways. The security problems with symmetric crypto tends not to be in the actual crypto but in the key man

[2021-07-27 15:35] jricher commented on #298
I think we should go so far as to say pre-registered values MUST NOT be overridden (or added to) by any runtime-presented values, as well.

[2021-07-27 15:37] agropper commented on #299
I tend to worry about implementation barriers for novices like me. Unless there are major security benefits, I hope we consider if symmetric keys could be an easier way for developers to transition from OAuth or other authorization schemes into GNAP. This is the kind of stuff that I'm having trouble understanding as we move our project from UMA 2 and OIDC to GNAP, RAR, DIDs, and VCs.

[2021-07-27 15:37] jricher commented on #113
closed by #272

[2021-07-27 15:37] #113 closed

[2021-07-27 15:38] jricher commented on #112
closed by #272

[2021-07-27 15:38] #112 closed

[2021-07-27 15:39] jricher commented on #68
closed by #162

[2021-07-27 15:39] #68 closed

[2021-07-27 15:45] Denisthemalice commented on #290
Let us first consider cases 2.1 and 2.2 that relate to operations performed on a protected resource
 that are **_related to a user account_**.

You wrote:

 If the session with the RS has not been closed, it is unnecessary to present the same access token again, but nevertheless
this could be done.

When a RS receives an access token, after the usual security checks that you mention, it will take

[2021-07-27 15:47] jricher commented on #290
@Denisthemalice I'd like to get more concrete here-- what is the session-binding and -tracking mechanism that is in play in the description above? Do you mean cookies, or do you anticipate the client to keep the TLS socket connection to the RS open for multiple requests, and bind against that?

[2021-07-27 15:56] aaronpk commented on #290
It seems this is the missing piece of information that I'm trying to get you to clarify:

What exactly do you mean by "session"? You said above that you don't mean TLS session.

[2021-07-27 16:18] Denisthemalice commented on #290
**_@jricher_** :  There is no binding (cryptographic or not) of an access token with a TLS session. I see a TLS session as a pipe, where the client is confident that it talks with the right RS and where the RS is confident that the information it gets through that pipe is coming from a single unknown client.  If multiple operations are done during a "short" time period, I expect to keep the TLS so

[2021-07-27 17:21] aaronpk commented on #290
Okay so just to clarify, when you said above:

what exactly do you mean?

I am confused that you seem to both want access tokens to not be bound to TLS sessions while also wanting that to be true.

In your banking example, it is extremely common to have the user sessions exist completely outside the concept of TLS sessions, instead using access tokens to represent sessions. The "logging off" opera

[2021-07-27 21:05] Denisthemalice commented on #290
Access tokens are transmitted through the TLS channel, but they contain no information related to the TLS session.
Access tokens do not "represent sessions".

You wrote:

When I log off from my Amazon account, do I need to tell such an information to somebody else (e.g. an AS)  ? The answer is "no".
This is the same when using access tokens. Let us make the life simple. :-)

An addition about Case

[2021-07-27 21:36] aaronpk commented on #290
The answer is it depends. There are multiple ways to accomplish this. In one method, the client just deletes any access tokens and session information it maintains. In another method, the client can tell the AS to explicitly revoke certain access tokens. Both of these are common in practice.

This example is the clearest one you've given so far, but now we've lost the idea of the "binding user ide

[2021-07-28 07:23] Denisthemalice commented on #290
We can compare the advantages and drawbacks of each method.
- The first one is simple and involves no protocol exchange. The AS is kept ignorant from the time when the logoff happens.
- The second one is more complex since it involves at least two additional protocol exchanges and as a consequence more traffic.
The AS is kept aware where the access token is being used (in some cases, it is possibl

[2021-07-28 12:52] aaronpk commented on #290
I thought in your example that the only claims in the access token were the ones listed, and that a user identifier was not included. If a user identifier is also included then that changes things slightly.

I am not going to open an issue to defend to keep a feature that already exists in the spec of which the benefits are well understood. If you want to argue that this "binding user identifier"

[2021-07-28 13:49] Denisthemalice commented on #290
It seems that you now understand the concepts behind the use of this mandatory "binding user identifier" field
to be included  in every access token.

You claim that _client instances keys are preventing an **_unrelated attack_** to the issue being discussed here_.

Would yo be able to explain what is this " _unrelated attack to the issue being discussed here_" ?

With such a wording, it is hard t

[2021-07-28 13:56] aaronpk commented on #290
I am still not clear on what you are actually proposing here. If it is to mandate that certain properties of a user or of an authorization are included in an access token (regardless of whether by reference or by value) then that isn't anything particularly new and is already done in practice by many systems today. It also is something that would not be done in the core draft, since the core is ma

[2021-07-28 14:04] aaronpk commented on #292
@Denisthemalice client instance keys are needed so that the AS can associate a particular access token with a client instance key, such that the access token is only usable by the individual client instance because they are forced to prove possession of the key when using the access token.

the attacks this prevents are all in the family of stolen access tokens. For example a malicious browser ext

[2021-07-28 15:26] Denisthemalice commented on #290
I am proposing to add a specific field into the access token, e.g. a **_bui_** "**B**inding **U**ser **I**dentifier" field that allows a RS
to **_detect_** the inappropriate use of an access token by a malicious user, including in the case of collusion between users..

AFAIK, it is new and it is not done in practice today ...  unless you can refer to a technical documentation that already describe

[2021-07-28 16:26] aaronpk commented on #290
Here is the section in the OAuth JWT Access Token spec the describes this practice: https://datatracker.ietf.org/doc/html/draft-ietf-oauth-access-token-jwt-13#section-2.2

I left a comment about the other attack in the issue you opened previously asking why client instance keys are necessary: https://github.com/ietf-wg-gnap/gnap-core-protocol/issues/292#issuecomment-888336350

[2021-07-29 13:02] Denisthemalice commented on #290
Thank you for the other comment left in #292.

Although the concepts behind the "**_sub_**" claim and the **_"bui" (binding user identifier)_** are similar,
the "sub" claim as defined and described in RFC 7519 cannot be used.

The "sub" (subject) claim as defined in RFC 7519 is both **_application specific_** and **_OPTIONAL_**:

In the context we are discussing, the use of the "bui" claim would n

[2021-07-29 13:02] Denisthemalice commented on #292
You indicated that the goal is to have the access token only usable by the individual **_client instance_**.
The right goal is to have the access token only usable by a particular **_user._**

It is important to make a difference between **_clients_** and **_users_**.

The use of client instances keys does not prevent two client instances to collaborate, without the need "to extract the private ke

[2021-07-29 13:10] jricher commented on #290
@Denisthemalice What about when an access token does not represent a user?

[2021-07-29 13:43] jricher commented on #292
@Denisthemalice the use of client keys prevents two non-collaborating client instances from attacking each other. A stolen on-the-wire credential, such as an access token, becomes useless without it. It also prevents an attacker from easily pretending to be a different piece of software to trick a user into authorizing them. TLS offers none of these protections on its own because it protects the c

[2021-07-29 13:49] aaronpk commented on #292
you actually need both. It turns out users don't make API requests. Users use software to make API requests. You need access tokens useable by a particular user tied to a particular client.

[2021-07-29 13:56] aaronpk commented on #290
Just to be clear, I haven't agreed to anything. I am trying to understand what you are talking about.

[2021-07-29 15:23] Denisthemalice commented on #292
@aaronpk :

You need access tokens useable by a particular user where the user is using a particular client.
To obtain this property, it is unnecessary to authenticate the client instance, hence no key needs to be attached to a client instance.

At the moment, the core-document states nothing about **_user authentication_**.

In section 1.4 (Sequences), Step (2) is described as:

The following sec

[2021-07-29 15:24] Denisthemalice commented on #290
draft-ietf-gnap-core-protocol-06 mentions:

and also:

@jricher : You wrote:

Given the definition of an end-user, who else would be operating a client instance ?

[2021-07-29 15:28] jricher commented on #290
Those definitions describe the relationship between the entities when both exist, they don't say that they both have to exist every time. The client instance could be acting on its own accord, as shown in the example of section 1.4.4:

https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#name-software-only-authorization

And D3:

https://www.ietf.org/archive/id/draft-ietf-gnap-cor

[2021-07-29 15:54] jricher commented on #292
The lines you quote are not in contradiction with each other: the client instance can be acting on its own behalf regardless of who is using it at a given time. The end user need not be the entity that authorizes the client -- they can be, and often are, but that's not the only case as shown in the sections that you point to. There is no conflict just because there are different possibilities.

As

[2021-07-29 16:44] Denisthemalice commented on #290
You wrote:

Wait a second. I believe that a client always exists. If it exists, that client is an application operated by an end-user.
So **_an end-user necessarily exists_**. and that end-user operates the client.  You cannot twist the wording.

I have worked a long time within standardization committees.

The text underneath a definition section (or a definition clause as called in ISO) needs to

[2021-07-29 16:47] Denisthemalice commented on #292
You wrote:

See my detailed response in issue #290.

You wrote:

This is correct.

Then you wrote:

an end user should be able to delegate to software without having to share their credentials with that software.

In this architecture, the goal is to use **_access tokens between clients and RSs_**, but a some point of time, there is a need to bootstrap the system. The simplest way to bootstrap the

[2021-07-29 16:48] aaronpk commented on #290
Clients are not always operated by an end user.

These kinds of statements are not helpful to the discussion, please stop. Many of us have worked a long time within standards groups.

[2021-07-29 16:54] jricher commented on #292
Let me say that another way: Removing user authentication from the view of the client is a foundational goal of this protocol. That's why it is not mentioned in the places you're looking for it -- it's antithetical to the purpose.

It sounds to me like you want a different protocol, for a different use case, with a different architecture, with a different goal -- all very separate from what this g

[2021-07-29 17:35] Denisthemalice commented on #290
If clients are not always operated by an end-user, then the definition needs to be changed.

IMHO, this kind of statement is helpful to the discussion.

However, this conversation is still drifting away from the central topic which is :

between a client and an AS ._**

[2021-07-29 17:35] Denisthemalice commented on #292
I understand that you acknowledge the fact that the current document does not explain how user authentication is linked
to the right client instance. This missing link is not even advertised in the draft.

If **_fully removing user authentication_** is indeed **_a foundational goal of this protocol_** then the document should state it
and explain how this can be obtained.

If you believe that the

[2021-07-29 17:45] jricher commented on #292
@Denisthemalice I said none of those things.

[2021-07-29 18:35] fimbault commented on #290
I've been reading the entire thread, and I've got to say I agree with @aaronpk and @jricher. I don't see how @Denisthemalice 's proposal (which isn't entirely clear to me) solves the issue described.

[2021-07-29 20:50] fimbault commented on #292
Again here, since you asked that I read your 2 issues before our talk, I read this issue in detail. It's not clear what we'd gain from removing key bindings, nor what the alternative would look like.

[2021-07-30 09:39] yaronf commented on #299
@agropper I'll try to say it without sounding obnoxius... This is exactly what I'm worried about. Developers who have a hard time using public/private key pairs (and I understand why it is difficult and totally agree we should document specific implementations and how these keys can be et up) are the same developers who'd easily end up using passwords instead of symmetric keys and NOT using sophis

[2021-07-30 09:39] fimbault commented on #292
ok, i've had Denis over the phone, so I think I better understand what he's proposing.

He's making the valid observation that managing keys is complex. For instance, it's not trivial to distribute and rotate keys between several devices (your pc, tablet, phone, etc.).
His idea would be to establish authenticated channels (for instance TLS, but we could reuse ideas such as [ockam channels](https:/

[2021-07-30 09:43] aaronpk commented on #292
This isn't something the user is expected to do, which is why it's called the client instance key, not user key. It would be completely transparent to users.

[2021-07-30 09:45] fimbault commented on #299
Symmetric keys are only supported by reference, so I think it's quite explicit their management needs to be external to gnap. And anyways, as soon as you authorize the management of keys by reference (meaning: that doesn't necessarily have to be managed within GNAP itself), the case will happen. Having some wording calling for caution, as is done currently in the text, seems the best we can do.

[2021-07-30 09:54] fimbault commented on #295
It would indeed be useful to have a way for the RS to ask specific attributes from the AS, to be included in the token. Depending on the resource being requested, I might need a name, address and phone number (for instance for a delivery), while other resources may require also the dob or age.
User consent in that case is pretty simple. Either it accepts to provide those info (to be issued by the

[2021-07-30 10:10] fimbault commented on #292
I would say mostly transparent to users. There are always edge cases when that's not the case (for instance when moving to a new device).

[2021-07-30 12:11] fimbault commented on #288
We discussed RS hiding a while back to avoid disclosing the real location, if needed

[2021-07-30 13:00] aaronpk commented on #292
When moving to a new device, the device would have a new key, so they would end up needing to reauthorize the new device. There wouldn't be any process by which the user would be expected to move keys around, because ideally these devices would be using keys in hardware security modules so the keys couldn't be extracted anyway.

[2021-07-30 13:25] jricher commented on #292
Completely agree with @aaronpk that a new device would mean a new instance would mean a new key. The system could allow some kind of smart bootstrapping process so that the authorization process is smoother, but that's outside of GNAP's core concerns.

Relying on TLS channels alone doesn't even get you past a second socket connection, unless you're doing some level of token binding which requires

[2021-07-30 13:49] fimbault commented on #292
Just saying that the bootstrapping phase in particular may impact significant the user experience here. Sure it's not part of GNAP itself, but still worth considering in the broader picture.

That being said, it's more to explain what I gathered from Denis, I'm not sold on the idea of secure channels which are really really hard to implement correctly. What is currently proposed in gnap seems way

[2021-07-30 13:50] Denisthemalice commented on #292
What is not explained in the current specification,  is that each user must contact the AS in order to be first associated with one client instance key. (Thanks Fabien for that explanation !)

If a user has four devices (e.g. a desktop, a laptop, a tablet and a smartphone) and wants to use each of them, he needs to ask to the AS four client instance keys. If it looses his tablet (or his tablet is

[2021-07-30 14:12] aaronpk commented on #292
From the [introduction](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#name-introduction): "This protocol allows a piece of software, the client instance, to request delegated authorization to resource servers", and the term "client instance" is described in the section [defining the roles](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#section-1.2-3.4

[2021-07-30 14:28] agropper commented on #292
I'm having a hard time following.

I can understand the case where the same RO uses four different client
instances to access the AS. But in an attenuated capabilities access token
model, the RO can transfer the capability to a RqP-1using some other
client. That RqP-1 can then transfer an attenuated capability to another
RqP-2 that has absolutely no relationship to the RO or the AS or the RS and
w

[2021-07-30 14:31] jricher commented on #292
The use of TLS in this way also doesn't work for something as simple as a client on a mobile device. In this: A client instance connects to an AS over a TLS channel which then gains trust. Then that same client instance jumps to another network and has to create a new TLS channel. Does the user need to re-authenticate because they moved their phone? With the trust model described above they would

[2021-07-30 14:33] jricher commented on #292
@agropper yes, what you're describing is a completely different thing. Attenuated capabilities would be based on some other artifact (or set of artifacts and policies) from the RO to each of the RqP's, possibly including the ability to redelegate again. But none of this is carried in the access token, since the access token is for accessing the RS and not for identifying the RO or RqP itself. I'd

[2021-07-30 14:37] Denisthemalice commented on #292
@aaronpk may be a phone conference would help to speed up the advancement of the discussion.

You wrote:

Since the solution I propose does not associate any key with any device, the User can choose any device (as long as he believes
that it does not include some spyware, virus and anything equivalent).

You wrote:

This is the second TLS channel opened between the Client with the RS. The level of

[2021-07-30 14:37] agropper commented on #292
Thanks for the confirmation. #169 seems fine as is and remains open.

On Fri, Jul 30, 2021 at 10:33 AM Justin Richer ***@***.***>
wrote:

[2021-07-30 14:41] aaronpk commented on #292
Yes, this is the case with using client instance keys as well.

This does not provide the assurance you are describing. The lack of client instance key in this case means any piece of software that is able to extract an access token would be able to use it at the RS masquerading as the legitimate user and client. Client instance keys prevent this from being possible. We have described this _in thi

[2021-07-30 14:45] Denisthemalice commented on #292
@jricher . You wrote:

The approach I propose works on fixed channels, which is what I experience  when I am at a fixed location. You are addressing a specific case.

I am not an expert in mobile channels, but the alternative solution you are suggesting would need to be explored in more depth since it seems simpler to manage than managing fixed keys assigned to Users and Client instances.

[2021-07-30 14:50] aaronpk commented on #292
Quite the opposite, fixed channels with unchanging IPs and consistent TLS channels are the exception. Mobile devices surpassed desktop years ago. Even within residential internet service it is not uncommon that the ISP may change the user's IP address, requiring a new TLS session.

[2021-07-30 15:02] Denisthemalice commented on #292
@aaronpk We are cross-posting with a delay of a few minutes which is not very easy.

You wrote:

Maybe you should try to define the trust conditions you have in the current model between the AS, the User and the client instances (i.e. devices) used by the User. In the model I am proposing, the User can choose any device because **_the device does not contain any client instance key_**.

Then you w

[2021-07-30 15:08] Denisthemalice commented on #292
@aaronpk . You wrote:

For your information, I have the  same IP address for 3 years with the same ISP. You can pay to have a guaranteed fixed IP address
(I didn't pay for it) , but in practice ISPs do not change IP addresses. If someone is going to choose a different ISP, it seems natural for me, that he should  terminate what he is doing before switching to another ISP.

[2021-07-30 15:11] fimbault commented on #292
@Denisthemalice it's not exactly what I said. I explained we do need a key per client instance. And this may have a consequence on the user flow, just like it has today for password protected websites. Note that this doesn't invalidate the architecture put forward in gnap, it just makes it mandatory to manage the keys somehow.

[2021-07-30 15:17] Denisthemalice commented on #292
@fimbault . You wrote :

As long as the trust conditions will not be **written**,  we will continue to argue for ever.

[2021-07-30 15:23] Denisthemalice commented on #292
A naive question:

If I lend my smartphone to some one else for about 10 minutes, how difficult it is to extract and export a client instance key stored
in a smartphone supporting either Android or IOS ?

[2021-07-30 15:54] fimbault commented on #292
You cannot simply extract, export, view private key material from KMS. Then of course it all depends on the actual execution environment that underlies those stores.

[2021-07-30 15:56] jricher commented on #292
If you're using the device enclave to manage your keys, then it would be very difficult to nearly impossible, especially within that timeframe. If it's a software-based key, then it would still be reasonably difficult within that timeframe.

Please understand that the requirement for each client instance to have a key does NOT necessitate a pre-registration of that key with the AS (or RS) ahead of

[2021-07-30 16:09] Denisthemalice commented on #292
@jricher . You wrote:

Looking at the API parameters to understand a key management architecture is all what we have today, How would you handle
key registration "on the fly" ?

I have not taken a close look at the client RS architecture in terms of client instance keys, but reading your sentence above  which includes "(and RS)" do you mean that clients must also register their keys to each RS ?

[2021-07-30 16:14] Denisthemalice commented on #292
@fimbault . You wrote:

With the current architecture, the AS cannot know how good (or how bad) the client is protecting the client private keys.
So I would guess, that the AS will accept the client public key simply based on a declaration from the user.
This is rather insecure.

[2021-07-30 16:48] jricher commented on #292
@Denisthemalice how can you claim that accepting a key based on a user declaration is insecure, but accepting a TLS socket connection on the same basis is somehow more secure? And this is not even based IP address, since TLS connections get set up and torn down all the time from one IP. Nearly every HTTP call is likely over a new TLS connection between the same parties.

[2021-07-30 17:16] Denisthemalice commented on #295
@fimbault You summary is rather good. I would add one step : when the client wants to perform a given operation on a given resource (since it does not already have an access token available), it sends a "**_Discovery request_**" to the RS  indicating to the RS which operation it wants to perform and on which resource. The RS should first respond by offering a choice to the client for the selection

[2021-07-30 17:28] Denisthemalice commented on #292
@jricher . You wrote:

Since the registration process is left currently undescribed, this is an assumption for the moment.
Now, if you can explain why it is secure, your explanations will be welcomed.

You also wrote:

I have not made any comparison, since no comparison can be made: when a TLS session is being opened, the server is kept ignorant of the characteristics of the client (and of the use

[2021-07-30 17:32] Denisthemalice commented on #290
For all readers;

Since the time the previous  message was sent, many exchanges have been done to explain my proposal.
Please take a look at #292.

[2021-07-30 19:19] Denisthemalice commented on #292
@aaronpk . Earlier this done, you wrote:

Since the words "user" or "end-user" are not present in this text, how do you want a reader to understand that there is a link between users and client instance keys ?

My suggestion is the following: a section explaining the **_trust conditions_** between the various actors has been requested about three months ago and is still not present. In additionn t

[2021-07-30 19:38] aaronpk commented on #292
It is in the rest of the introduction paragraph I quoted, so please read that first.

Anyone in this working group is welcome to propose text for the spec, so you have had 3 months to provide suggestions for this section as well. Complaining that others have not done work that you want is not constructive.

[2021-07-31 03:18] fimbault commented on #292
Trust based on public key cryptography is pretty established. Including how to protect against vulnerabilities and key theft.
There have also been improvements lately, due to their heavy use in blockchain protocols. In our space of identity management, keri brings additional security as it not only provides a keypair, but also a full trail of events (and therefore becomes much harder to forge).

A

[2021-07-31 07:45] Denisthemalice commented on #292
@aaronpk : I read both sections. I have been unable to find some sentences that allow to understand that a user must register his client instance key(s) with the AS and that an AS will then associate that User with this/these client instance key(s). This level of understanding has only been possible ... yesterday, because Fabien provided these explanation to me on the phone.

It is up to the peopl

[2021-07-31 08:51] fimbault commented on #292
@Denisthemalice in gnap, the association is not with the user, but with the client instance. What you propose is different (but don't impose it on gnap when you ask questions!). If I understand correctly, you want a user attribute bound to a session, the attribute being able to identify who is calling. While that's interesting, I'm concerned by whether this can even be implemented, it doesn't seem

[2021-07-31 13:12] Denisthemalice opened #301 "Trust relationships for a model using TLS and no client instance keys"
The following definitions are being used:

**_Trust relationships_**

The end-user is trusting his client to manage the interactions with the AS and with the RS
whether these interactions are performed using APIs or using a User Interface (UI).

The end-user is trusting the AS to manage his attributes and, upon request, to provide a subset of them
inside an access token or simply to disclose them

[2021-07-31 13:44] aaronpk commented on #292
Client instance key registration is described in [section 2.3, "Identifying the Client Instance"](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#name-identifying-the-client-inst)

Denis, you have had more than three months to read the drafts and work with us on understanding what is currently written. Instead, you came in to the group demanding that the editors support your

[2021-07-31 14:24] Denisthemalice commented on #292
@aaronpk . You wrote:

Would you be able to tell me **_when reading this text_** what is the relationship between a user (or an end-user) and a client instance ?

The words "user" or "end-user" are not present in this section !

On March 12 th, **more than 4 months ago**, I raised the issue #214 which was about trust relationships.
I proposed some text about the trust relationship.

It is very unf

[2021-08-01 12:28] Denisthemalice commented on #288
**_RS hiding_** can been done in some cases when using attributes, but **_not when using rights_**, since a right
is composed of an operation and of a resource location. By disclosing the resource location to the AS,
the AS knows which is the RS.

[2021-08-01 17:33] jricher commented on #288
Access can be achieved using mechanisms in the current draft using attributes, what you call rights (which are more properly termed "capabilities" in the security literature), or any number of other combinations. User attributes are not necessary for the non-disclosure principle that you are discussing. This has been demonstrated with actual code.

[2021-08-10 08:30] Denisthemalice commented on #288
"Rights" is the wording used in the draft by the editors, while as you noticed, "capabilities" is the wording used in the security literature.

It would be worthwhile to indicate this relationship in the draft and to have at least one occurrence of the word "capability"
or "capabilities" in the draft.

You wrote:

Unfortunately this is not the case with the current draft since section 2.1.1 (Reque

[2021-08-10 12:05] jricher commented on #288
Among other problems with this argument, I want to point out that you are conflating the use of the `access` field, which allows the client to describe what it wants, with fields placed inside a structured access token such as an audience restriction or subject identifier, neither of which need to be specified by the client. Since the access token is opaque to the client, these are separately mana

[2021-08-10 16:53] jricher opened #302 "Use opaque identifer instead of user handle"
With the adoption of the `opaque` subject identifier format, we no longer need to have a GNAP-specific `user_handle` value and can instead leverage this more standard field. Alternatively, we could have a GNAP-specific subject identifier format, instead of a separate `user_handle` field.

[2021-08-10 16:57] jricher opened #303 "Generic HTTP access control"
Proposed generic HTTP-based access control methods, described in mailing list thread: https://mailarchive.ietf.org/arch/msg/txauth/MJiaCD7DWESXnQ4YA7TlTyb8XOQ/

[2021-08-10 17:08] yaronf commented on #303
Possibly as a separate document.

[2021-08-10 17:16] jricher commented on #303
@yaronf Possibly so -- to start, the editors have decided to see if it works as a self-contained appendix to the core document, to be extracted later to another target if desired.

[2021-08-11 16:49] aaronpk commented on #301
I don't see anything in this writeup that is relevant to whether client instances have their own keys.

TLS is also required for transport security, regardless of the relationships between the client, AS, and RS, as well as whatever the access token represents or contains.

I am renaming this issue to better reflect the contents of the post.

[2021-09-15 13:19] elf-pavlik commented on #291
I notice that [ 1.4.6. Requesting User Information ](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#name-requesting-user-information) states

It also shows that there is no RS involve and diagram uses label: User (not RO)

To my understanding End-user is "logged in" to the client instance.
Given role definition:

If we don't have RS involved, so we also don't have any Protec

[2021-09-15 13:49] fimbault commented on #291
Yes, that's why we talk about the "user" here. Notice that currently, this term is used when we don't know the exact role it will play in the protocol (end user or RO).

[2021-09-15 15:29] elf-pavlik commented on #291
If that's the case for [1.4.6. Requesting User Information](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#name-requesting-user-information) why does [2.2. Requesting Subject Information](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#section-2.2) speak about Resource Owner? Again in 2.2 we also don't seem to have Resource Server or Protected Resource

[2021-09-15 17:10] fimbault commented on #291
The rationale is :
- in the intro of section 4, gnap allows a large variety of cases. GNAP can handle UMA2 types of scenarii (hence 1.4.6 and a few other places)
- but in gnap core we mostly detail the case where end-user = RO. Hence what we explain about the subject, and it makes sense to limite the diffusion of confidential information about the RO (the most limiting case, hence 2.2 and a few ot

[2021-09-15 19:22] elf-pavlik commented on #291
Given above definition maybe it would make sense to broaden definition of RO to:

*subject entity that may grant or deny operations on resources **or obtaining assertions** it has authority upon.*

Since in [2.2. Requesting Subject Information](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#section-2.2) the User acting as RO doesn't grant or deny operations on resources but

[2021-09-15 21:35] jricher commented on #291
I agree that the specific language that @elf-pavlik references should be tightened up. What's a little awkward right now is that GNAP's language treats access to an RS and access to information contained in assertions as protected resources, but it doesn't do so particularly cleanly due to several major text revisions that have changed things a little out of sync with each other.

Both data from a

[2021-09-15 21:37] fimbault commented on #291
Fair point. We might start by listing what needs to be changed.

[2021-09-19 14:16] agropper commented on #291
I tend to think of the AS as having a separate service endpoint for RO requests because they are the ones that can edit AS policy. A service endpoint that is accessible to End User requests would be "separate" and could be used by anyone including the RO when they want the protection of least-privilege. This distinction may be unhelpful in the general case of explaining GNAP so I don't mean to ove

[2021-09-20 12:02] jricher commented on #291
@agropper when you say "service endpoint" are you thinking of something that's interactive and user-facing (so a webpage) or something that's a callable API?

[2021-09-20 17:46] agropper commented on #291
@jricher, I really don't know enough to answer purely technical questions. I think mostly in terms of privacy engineering and look to this group for security and devops perspective.

Therefore, I focus on the AS as the primary, if not the sole, entity that stores and executes RO policy. The AS takes requests and turns them into access tokens. The requests might be via (RAR) API or a web form. Eith

[2021-09-24 11:43] fimbault commented on #291
back to @elf-pavlik and @jricher : looking again on this. I guess we could define what we mean by operations. Getting an assertion is an operation, in my view. Or give it as an example.
What do you think ?

[2021-09-24 12:50] jricher commented on #291
I think it comes down to whether or not we consider the "subject information", which includes both identifiers and assertions, to be "resources" or not. I always thought they are, but they are definitely a different _style_ of resource than what comes from the RS so maybe we need better wording around it. We talked about it a bit in the long terminology discussion a year ago, but I don't think we

[2021-09-24 13:05] agropper commented on #291
Does this issue also have to align with authentication flows that build on GNAP?

- a subject presents a DID or other identifier to a relying party (RP)
- the RP dereferences the identifier to an AS they trust
- a request for assertion is made to the AS
- the AS issues a liveness challenge to the subject
- the AS returns an assertion and attributes to the RP (the attributes might be accessed indir

[2021-09-24 17:21] #51 closed

[2021-09-24 17:21] #197 closed

[2021-09-24 17:21] #302 closed

[2021-09-28 04:44] agropper commented on #105
(RAR) requests should go to the AS because that’s where they will be
processed into access tokens. If the request happens to go to the RS first,
it’s a failure of data minimization. Discovery style (AS or RS-first) may
not be determined by GNAP but GNAP can make sure that this privacy issue is
adequately considered in the spec.

- Adrian

On Mon, Sep 27, 2021 at 11:51 PM Josh Mandel ***@***.***>
w

[2021-09-28 13:03] jmandel commented on #105
I think you've misunderstood my point -- I'm not suggesting requests would be sent to the resource server. Rather, as GNAP specifies: an access token (issued by the authorization server) is sent by the client to the resource server, and the RS introspects this token to learn what Resource Access Rights the token conveys. I'm pointing out here that the RS
often needs some understanding of the clien

[2021-09-28 14:32] agropper commented on #105
@jmandel Sorry for the confusion.

I've been tutored by capabilities gurus to be suspicious of any identity-related access controls and I consider client identity to be part of that design. That's not to say that GNAP must normatively forbid client credentials, of course.

When clients need pre-registration and rotation is important, couldn't client instances be identified by DIDs just like anythi

[2021-09-28 16:54] jmandel commented on #105
Client instances *could* be identified in all kinds of ways; my point is that currently (at least, if I'm reading the spec correctly -- and it's entirely possible I'm just missing something) GNAP doesn't model this information in an explicit RS-facing data element.

[2021-09-28 18:07] agropper commented on #105
My concern is metadata the RS persists as a result of a RO and AS
relationship. RS persisting client identifiers or information as part of
the RO and AS relationship limits the RO's ability to delegate to agents
that they choose and I would like to keep that out of the core spec as much
as possible. The RS can avoid any client information issues in one of two
ways: (a) it can issue capabilities to

[2021-09-28 19:05] jmandel commented on #105
The point I've trying to make [from my initial comment](https://github.com/ietf-wg-gnap/gnap-core-protocol/issues/105#issuecomment-928739760) (and it seems I'm failing to communicate clearly -- sorry!) is that GNAP can and should provide a way to do (b). It's as "simple" as deciding this is a problem worth addressing, and standardizing a solution (or else deciding it's out of scope and leaving it

[2021-09-28 19:06] jricher commented on #105
@jmandel You are correct that there is not a persistent client instance identifier that's exposed throughout the system, and that's been a deliberate design decision. While there are many kinds of software for which persistent identifiers make sense, we've seen with SPAs and mobile apps in OAuth that client_id gets in the way in a lot of places and doesn't end up telling you what you might think i

[2021-09-28 19:08] jmandel commented on #105
Agreed with your assessment @jricher that a *grant identifier* solves the problem just fine, and may be invisible to the client itself. My point here on this issue that that if we don't surface something like this in the standard protocol, RSs will (incorrectly) try to use client instance keys for this purpose, and that'll break even worse once those keys can be rotated. So I'm just calling out th

[2021-09-28 19:14] jricher commented on #105
@jmandel that subtle connection's a fair point, especially when the client instance is using some-other-key for the access token. GNAP is built to enable (and perhaps even encourage) diversity of keys, especially for client software that can securely generate a key locally, so we'd expect much client software to use different keys over time. Rotating would tie those together at the AS.

What I'm w

[2021-09-28 19:21] jmandel commented on #105
Yeah, I'd love to see 1) an explicit warning against using a client's key for this purpose and 2) an explicit field introduced in the introspection response (and eventually, incorporated into self-contained token formats) to allow the AS to communicate a stable grant identifier to the RS.

[2021-10-05 17:24] aaronpk commented on #292
The relationship between the client and end user is defined in the [introduction section](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-07.html#name-roles)

[2021-10-06 10:08] Denisthemalice commented on #292
@aaronpk : I have a few comments on your statement:

First of all, the quoted sentence allows to contradict what @jricher said yesterday during the interim WG meeting.

@jricher said that the client could have no end-user for operating it, which is a case that is not possible with the quoted sentence.

Secondly, this is not a trust relationship.

At this point of time, the following trust relation

[2021-10-06 10:55] fimbault commented on #292
@Denisthemalice the relationship between an end-user and a client instance is already defined. As already explained, I initially decided not to describe the trust relationship between end-user and AS because it requires a bit more thought (interactions are varied, and it's going through technical agent such as a browser). But I'll do that.

[2021-10-08 17:34] jricher commented on #290
Addressed in security considerations: https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-07.html#name-protection-of-client-instan

[2021-10-08 17:34] #290 closed

[2021-10-08 17:39] #287 closed

[2021-10-08 17:50] #264 closed

[2021-10-08 17:56] aaronpk commented on #249
This is discussed now in the [Correlation](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-07.html#name-correlation) section in privacy considerations. New issues are welcome if there are additional privacy considerations to note that are not yet covered in this section.

[2021-10-08 17:56] #249 closed

[2021-10-08 18:12] #215 closed, assigned to nobody

[2021-10-08 18:18] #175 closed

[2021-10-08 18:21] fimbault commented on #169
The answer is twofold :
- part of the discussion relates to #175
- token formats are handled through the RS draft, if more is required, then we should open an issue there

[2021-10-08 18:21] #169 closed

[2021-10-08 18:23] fimbault commented on #168
The general principle is layed out in section 4, but without any specific details.
DIDComm itself could be an extension, but there's been no request for it, so closing.

[2021-10-08 18:23] #168 closed

[2021-10-09 14:27] Denisthemalice opened #322 "Short term and long term RS user accounts"
This topic has mentioned during the last interim WG meeting and it has been suggested to continue to discuss the topic on the "list". This is why I open a new issue.

Short term and long term RS user accounts are foundations to be able to under how an access token can be bound to a "buid" field (Binding User IDentifier)" contained in an access token.

Let us consider two current use cases: the pur

[2021-10-09 17:35] Denisthemalice commented on #322
The GNAP model is still under construction. So, this is your assumption, but not mine.

The trust model in draft -07 is still missing to indicate how users can authenticate since access tokens contain attributes and /or rights associated with end users (_**i.e. not associated with client instances**_). Thus there is currently a missing link in the current description of draft-07.

This topic direc

[2021-10-10 16:53] fimbault commented on #322
Yes, definition will be updated (I'll do that).

[2021-10-11 13:08] jricher commented on #322
It will not be  rejected by  the RS. It will be accepted as Bob's token, even though it was presented by Alice. That's the point I'm trying to make here, unless you can tell me how the RS knows to reject the token.

[2021-10-11 19:13] jricher commented on #322
@agropper @fimbault the question of biometrics is interesting but it also assumes that these can be presented alongside the access token at the RS. This doesn't seem like the kind of thing that GNAP should solve, but instead allow another protocol to be layered on top.

[2021-10-12 14:50] aaronpk commented on #322
That is in fact exactly what a client instance key does. I suggest reading up on existing material about this concept before continuing this discussion. This is not a concept unique to GNAP, it has been widely explored and adopted in OAuth as well. If you don't understand this then I am not sure it's worth anyone's time to continue this discussion.

[2021-10-14 10:18] fimbault commented on #322
@Denisthemalice yes and no. Section 12.2 does explain why your "keyless" proposal based solely on TLS doesn't work. But there are further details which might be of interest to you.

How do you expect end-users to carry out those attacks, unless they use purposely build clients to make this possible ?

[2021-10-14 11:22] jricher commented on #322
@Denisthemalice your statements demonstrate that you do not have a correct understanding of how TLS works. The scenario that you describe happening at your bank does not happen that way at all. I recommend that you learn more about how these technologies function in practice.

At this point, I strongly suggest that you implement what you're talking about here and demonstrate your approach. This wi

[2021-10-14 12:29] jricher commented on #322
@Denisthemalice it is not an insult, the statements that you make above are demonstrably incorrect. I am encouraging you to learn how the systems you're describing work before you continue to make incorrect claims about them. It is my goal that you have the correct information and can therefore draw appropriate conclusions from it. I am sorry that you find this insulting.

It has been demonstrated

[2021-10-14 12:56] Denisthemalice commented on #322
**_@jricher_**. If you believe that something is incorrect, unless simply saying that it is incorrect, you had better to explain why
it is incorrect.

In the case of draft-07, I have explained how a collaborative / collusion attack could be performed.
In the case of draft-00, it is now up to you to explain how a collaborative / collusion attack could be performed.

[2021-10-15 15:47] pq2 opened #326 "Update httpsig example to cover correct parts of message"
Section 7.3 states that all key binding methods must cover the HTTP method being used. In the example in section 7.3.1, this seems to be accomplished by the `@request-target` component identifier. Its value there is `post /gnap`. According to the [HTTP Message Signatures draft](https://www.ietf.org/archive/id/draft-ietf-httpbis-message-signatures-06.html#name-request-target), however, this compone

[2021-10-16 07:17] Denisthemalice commented on #322
@fimbault . I am sorry. I forgot to answer to your question which was:

It looks like additional complexity, and I still fail to see what it really brings.

The answer is quite simple. It corresponds to a current situation. If you make a reservation on a web site like https://www.oui.sncf/
 you have two options:

- create a long term user account by choosing a password for the web site (while the

[2021-10-16 07:27] fimbault commented on #322
This may apply to payments / ecommerce, but are there other use cases ?

[2021-10-19 09:34] fimbault opened #329 "no user involved - client definition"
From #322, account for the many situations in which there is no user -- no person involved in the transaction.

Proposal to update the definition (added part in bold) :
- Client : application operated by **or on-behalf of** an end-user that consumes resources from one or several RSs,
possibly requiring access privileges from one or several ASs.

[2021-10-20 17:59] jricher commented on #137
This extension mechanism was dropped by #270

[2021-10-20 18:03] fimbault commented on #6
We're now explicit on types (object, string, array) so I think we can close this issue now

[2021-10-20 18:05] jricher commented on #142
To keep aligned with RAR (https://www.ietf.org/archive/id/draft-ietf-oauth-rar-07.html), the `locations` value will continue to be a list of strings that MAY be URIs.

[2021-10-20 18:31] aaronpk commented on #66
See also #149

Let's rephrase this to the inverse so that it is something that is actually testable.

Access tokens other than the continuation access token (name tbd based on #149) MUST NOT be usable for continuation requests.

In other words, regular access tokens used for accessing resources MUST NOT be usable for continuation requests.

[2021-10-20 20:16] Denisthemalice commented on #329
@fimbault ; You wrote:

A user consent may be given (or refused) once a user notice has been able to be accessible to the end-user so that he can know what kind of usage or processing will be made by the RS with his attributes. Even, if the client can cache earlier decisions, the end-user must be able to make his decision based or not on a cached response. Your argumentation seems to me a bit far-

[2021-10-21 18:26] jricher commented on #60
This has been obsoleted by the move to the interaction `finish` structure.

[2021-10-21 18:26] #60 closed

[2021-10-24 17:24] fimbault opened #334 "end-user AS trust relationship"
To be described (interactions)

[2021-10-25 15:22] #326 closed, assigned to jricher

[2021-10-25 15:26] #329 closed, assigned to nobody

[2021-10-25 15:30] #334 closed, assigned to nobody

[2021-11-03 04:52] pq2 opened #341 "Use of the terms URI and URL"
In various places in the protocol, the terms _URI_ and _URL_ seem to me to be used more or less synonymously. For example, in [Section 3.1](https://datatracker.ietf.org/doc/html/draft-ietf-gnap-core-protocol#section-3.1) there is a property `uri` in the `continue` field, while in [Section 3.3.3](https://datatracker.ietf.org/doc/html/draft-ietf-gnap-core-protocol#section-3.3.3) there is a member `u

[2021-11-06 18:28] Denisthemalice commented on #291
I am supportive of **_elf-pavlik_** when he writes:

**_fimbault_** agrees with him when he says:

When looking at Section 3.4 that is indicated in that section, the following text may be found.

**_If information about the RO_** is requested and the AS grants the client instance access to that data, the AS returns the approved information in the "subject" response field.

The case where informati

[2021-11-06 18:29] Denisthemalice opened #342 "End-user authentication towards the AS is considered to be "dangerous" !"
Section 12.9 (Exposure of End-user Credentials to Client Instance) states:

Such an incorrect conclusion is the consequence of a missing trust relationship.

A key point is whether the end-user is trusting or not his client instance for not stealing his credentials and for displaying the correct information.

Furthermore, "end-user authentication" is implicitly interpreted as being the use of a pa

[2021-11-06 18:33] Denisthemalice opened #343 "The text is silent about how / when / if an AS is able to authenticate the end-user"
Section 12.11 (Processing of Client-Presented User Information) states:

This highlights the fact that the information presented by the client about the end-user is only identifying the claimed end-user and **_by no way authenticating it._**

The following text is silent about how / when / if an AS is able to authenticate the end-user.

Later on the text continues with:

What means **_more complet

[2021-11-06 18:34] Denisthemalice opened #344 "About the modified definition of a client in draft-08"
The sentence following the definition of a client has been modified into:

The second part of this sentence (i.e. "or it runs autonomously on behalf of a resource owner") is not clearly understandable.

There should be a scenario and further explanations within the document to explain the specific case of "a client running autonomously on behalf of a resource owner".

[2021-11-06 18:35] Denisthemalice opened #345 "About the Note following the definition of a client"
The Note following the definition of a client is now:

It is fine make the difference between a specific instance and the software running the instance (the client software).

However, adding in parenthesis "(the client instance, identified by its unique key) leads to a specific architecture implementation that is not the consequence of the client definition which is:

Associating a client instanc

[2021-11-06 18:36] Denisthemalice opened #346 "The end-user consent has been forgotten, even in the case of a single AS"
In section 1.5 (Sequences), the first example indicates:

In both cases, the model considers only a single AS.

Even in the "dynamic process", the returned information is still about a single AS, but even if there is a single AS, the end-user should have the choice to accept **_(or not_**) to get an access token from that AS. The end-user consent has been forgotten but still exists even if there i

[2021-11-06 18:37] Denisthemalice opened #347 "Why the requests from the client instance to the AS should (?) or shall (?) be signed ?"
About Section 12. Security Considerations (page 110)

Section 12.1 (TLS Protection in Transit) states:

This has nothing to do with the title of this section which is "TLS Protection in Transit".

There is no justification of the reason(s) why the requests from the client instance to the AS should (?)  or shall (?) be signed.

[2021-11-06 18:37] Denisthemalice opened #348 "The relationship between client instances and end-users is not explained"
Section 12.3 (Protection of Client Instance Key Material) states:

The rational for authentication client instances using a unique key is not explained.

An access token contains the rights or privileges of a human user and not those for a client instance.

The relationship between client instances and end-users is not explained.

[2021-11-06 18:42] aaronpk commented on #342
Can you point to the current text that implies single factor authentication? This is not the correct interpretation, so we should make sure it is not interpreted that way.

Section 4 talks about authentication and interaction with the user https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-08.html#section-4

[2021-11-07 10:58] Denisthemalice opened #349 "About bearer access tokens"
Section 12.7 is about Bearer Access Tokens.

The text states:

In the context of GNAP, bearer tokens are not defined (i.e. there is no definition of this wording).

However, there exists a definition of the bearer flag which is the following:

This makes the assumption that only two techniques are possible.

Bearer access tokens do not include a key used by the client instance in its request.

At

[2021-11-07 11:06] aaronpk commented on #349
As has been discussed before, adding a "binding user identifier" into a bearer token does not change it from being a bearer token. It is still a bearer token regardless of what information is associated with the bearer token.

Bearer tokens are [described in section 12.7](https://gnap-core-protocol-editors-draft.netlify.app/draft-ietf-gnap-core-protocol.html#section-12.7).

[2021-11-07 11:06] #349 closed

[2021-11-07 11:12] aaronpk commented on #347
This is describing why TLS protection in transit is still necessary even if requests from the client are signed.

The justification is at the top of section 12.1:

[2021-11-07 11:12] #347 closed

[2021-11-07 15:09] Denisthemalice commented on #349
Section 12.7 states:

The issue #322 (Short term and long term RS user accounts) explains in details why this is not possible, as soon as the concepts
of short term and long term RS user accounts are being used.

If Bob got an access token that contains a "buid" field and transmits it to Alice, then Alice will not be able to use it on her own long term user account.

If Alice has opened a short te

[2021-11-07 15:09] Denisthemalice commented on #347
Your answer does not correspond to the question.

The question was "why the requests from the client instance to the AS should (?) or shall (?) be signed", knowing that TLS already protects the contents of requests and responses from manipulation and interception by an attacker.

[2021-11-07 15:10] Denisthemalice commented on #342
**_@aaronpk_** . Your question was:

The text is:

Such collection, storage and replay would be possible in the context of an Id and a password, but would not be possible in the context of a MFA (Multi-Factor Authentication). For example, if a one-time SMS code is received on the smartphone of the end-user and the end-user needs to enter that code. Replay is not possible.

Now, everybody his using

[2021-11-08 00:19] jricher commented on #348
The end user, when they are present, operates the client instance as enumerated in the definitions and discussed several times in many issues.

Closing as duplicate.

[2021-11-08 00:19] #348 closed

[2021-11-08 00:20] jricher commented on #346
The end user consent is is captured during interaction with the AS, as discussed in section 4.

[2021-11-08 00:20] #346 closed

[2021-11-08 00:22] jricher commented on #345
The need to protect keys representing a client instance is discussed at length in section 12.3: https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-08.html#name-protection-of-client-instan

[2021-11-08 00:22] #345 closed

[2021-11-08 00:25] jricher commented on #344
There are several sections and examples that talk about a client running autonomously, as has been pointed out before:

https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-08.html#name-software-only-authorization

https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-08.html#example-no-user

These examples have been in the draft for a very long time, and the change to the definit

[2021-11-08 00:25] #344 closed

[2021-11-08 00:27] jricher commented on #343
The end user authenticates at the AS during the interaction and authorization process as discussed in section 4.

The means for trusting "more completely" is described in the rest of the sentence you quote above: "trusts the client software more completely due to policy or by previous approval of a given client instance".

[2021-11-08 00:27] #343 closed

[2021-11-08 00:29] jricher commented on #342
The "dangerous" attack is the end user authenticating through the client software by presenting their credentials to the client software and having the client software replay and present those credentials to the AS. This leaks security information to an untrusted piece of software, the client. Multifactor authentication technologies usually make this type of dangerous practice impossible as well b

[2021-11-08 00:29] #342 closed

[2021-11-08 00:38] jricher commented on #349
@aaronpk is correct: the contents of the access token (or the claims they represent) are an orthogonal concern from the distinction between a bearer and key-bound access token. There is no "binding" to the user in what @Denisthemalice has proposed, as discussed on previous issues at length. Therefore, there is in fact no additional category as described here.

[2021-11-08 00:40] jricher commented on #347
@Denisthemalice the need for signatures in addition to TLS is the topic of section 12.2: https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-08.html#name-signing-requests-from-the-c

It is very common for different security consideration sections to focus on different aspects and different attacks. Sections 12.1 and 12.2 provide two perspectives on why two different security mechanisms a

[2021-11-08 09:26] fimbault commented on #48
I've encountered the need to pass the logo by value. The rules to define which logo to display were complex, and so it seemed preferable to make sure the service would receive directly what it needed, instead of having to manage a large pool of reference URLs.

What we ended up doing is using data URI (inlined in base64), and limited to some specific MIME types (image/png).

[2021-11-08 10:47] yaronf commented on #134
I agree with @fimbault  in principle, but let's not go too far. I think that SAML2 is functionality that'll be widely used from day one (correct me if I am wrong). If so, it needs to stay in the core spec.

[2021-11-08 11:25] fimbault commented on #134
After discussion between editors, that's currently what will be proposed (draft8 includes the related security considerations).

Remains the question of JOSE, which will be discussed at IETF112. Personally I believe a separate draft would make sense (detached and attached JWS could be used by the oauth community as well) and it would also be easier to rally people that dislike JOSE to the GNAP WG.

[2021-11-08 13:24] elf-pavlik commented on #291
Based on recent conversations, especially https://github.com/ietf-wg-gnap/gnap-core-protocol/issues/291#issuecomment-953151121 it seems to me that the intention is to consider the subject as RO with regards to the information about them. I think this shows up clearly in [Requesting User Information](https://github.com/ietf-wg-gnap/gnap-core-protocol/blob/main/draft-ietf-gnap-core-protocol.md#reque

[2021-11-08 13:34] jricher commented on #291
@elf-pavlik Those two both make sense, and it makes sense even for them to be together. You could have those be the same AS as well, if Bob's resource server is protected by the same server Alice is using to log in to the client. But they're different kinds of access, and it would make sense to talk about them in a single example scenario to help call out that difference.

There's also a weird cas

[2021-11-08 13:55] elf-pavlik commented on #291
@jricher how does Alice know which AS can release identity information about Bob? I would not make an assumption that one global central AS exists and it has information about the whole Earth's population?

[2021-11-08 14:05] jricher commented on #291
@elf-pavlik This use case is not assuming a global AS at all (I agree, that's absurd), but it is assuming that Alice and Bob are both working with a known ecosystem. In the case of the call center example, it's the supporting company's AS -- where Alice works and where Bob is a customer. So, Bob needs to have an account there, and so does Alice. Alice's account needs to be authorized to get info a

[2021-11-08 14:17] elf-pavlik commented on #291
I see, thank you. It indeed looks like another use case where Bob acts as RO but there is no RS or Protected Resource involved.

[2021-11-08 14:46] fimbault commented on #291
I've encountered the CIBA use case very recently.

Here's a summarised description :
- the enduser gets in touch (out of band) with the support, so that both are available at the same time
- the support needs to get read access to some info stored on the enduser's mobile, and uses CIBA to get the enduser's approval
- returned scopes define what can be accessed through another OIDC client (used by

[2021-11-08 14:59] jricher opened #350 "Cross-User Subject Information"
Normally we think about releasing subject information being about the current end-user, but that's not necessarily universal.

The use case from CIBA:

- Alice is a support engineer with a company
- Bob is a customer of that company
- Bob calls the company and talks to Alice
- Alice needs to authenticate, from her system, that Bob is the person tied to the account in question
- Alice's client mess

[2021-11-08 15:00] jricher commented on #291
@fimbault Agreed, we've drifted off of the topic of the issue as well. I opened up a new issue for discussion of the cross-user CIBA use case specifically: #350

[2021-11-08 15:15] Denisthemalice commented on #343
The text of section 4 is about the RO, not about the end-user:

validate **_the RO_** through presentation of claims, attributes, or other information
prompt **_the RO_** for consent for the requested delegation
describe to **_the RO_** what information is being released, to whom, and for what purpose
provide warnings to **_the RO_** about potential attacks or negative effects of allowing the info

[2021-11-08 15:16] Denisthemalice commented on #349
A "buid" is not a claim. It is a field that is separate from the claims.

With your argumentation, I understand that a bearer access token that would contain a "buid" field is still a bearer token.

The problem is that such an access token would not comply with the text from Section 12.7 which states:

How would you solve such a contradiction ?

[2021-11-08 15:17] Denisthemalice commented on #342
I fear we don't understand each other because we do not share the same meaning for trust.
You are using the wording "untrusted piece of software, the client" which means nothing to me.

I believe that now that you know that a trust definition shall have three components:
Entity **_A_** trusts entity **_B_** for some kind of behavior **_C_**.

I believe that you authenticate to your mail server usi

[2021-11-08 15:17] Denisthemalice commented on #347
The text in that section states:

Would you be able to elaborate ?

AFAIK, all the messages flowing through the same TLS connection are tied together.

[2021-11-08 15:29] jricher commented on #349
@Denisthemalice There is no contradiction. If Bob captures Alice's bearer token with Alice's `buid` claim, then Bob can use that token to access Alice's account.

[2021-11-08 15:31] jricher commented on #347
@Denisthemalice Let's say you're using a browser, and you load one page, then another. Those pages are served with completely separate TLS connections. There is no transitive trust between those connections because the old connection's sockets are destroyed and the new connections sockets are created.

[2021-11-08 15:40] fimbault commented on #350
This is an interesting use case. Yet CIBA doesn't necessarily require an AS to work, and long as one is only interested in getting scopes. Is there a generic use case for cross-user subject information + required AS?

[2021-11-09 08:48] Denisthemalice commented on #349
@jricher . Section 12.1 states:

 Since TLS MUST be used, Bob cannot capture Alice's token unless Alice voluntarily transmits her access token to Bob.

[2021-11-09 09:02] aaronpk commented on #349
There are other ways to capture a token. One common way TLS is not foolproof is in corporate networks that use a TLS proxy server to observe traffic on their network.

[2021-11-09 10:42] jricher commented on #349
Tokens don't have to be captured in transit, they can also be exfiltrated from compromised software or platforms. It doesn't have to be willing participation of the user.

[2021-11-09 13:45] Denisthemalice commented on #347
AFAIK, the connection's sockets are not destroyed as long as the same connection remains open.

For which reason should there be a separate TLS connection as long as those two pages belong to the same server ?

[2021-11-09 13:54] Denisthemalice commented on #349
From a client point of view, the TLS proxy server is considered to be part of the RS.
After the proxy, the traffic is using HTTP (i.e. no more HTTPs).

So we would be in a case where a component that is supposed to protect the RS is in fact malicious:
it sends back to Bob an access token received from Alice so that Bob can use it on Alice's account.

Section 12.16.  MTLS Message Integrity states:

[2021-11-09 14:00] jricher commented on #347
@Denisthemalice That is not how TLS works or what protections it provides.

[2021-11-17 21:50] jricher opened #352 "Unicode In Document"
Some unicode characters within the document break the build tools, specifically we see `Å` being changed to `Ae` in the rendered document.

[2021-11-19 15:26] pq2 opened #353 "Modifying a request during pending interaction"
[Section 5.3](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-08.html#name-modifying-an-existing-reque) explains how an existing request can be modified by a PATCH request to the continuation endpoint. My question is, what happens if such a PATCH request is sent while the interaction for the associated grant request is not yet finished? I feel like this should not be allowed, but cou

[2021-11-26 20:39] pq2 commented on #353
In Section 3.3.4 it says
`If the AS returns a nonce, the client instance MUST NOT continue a grant request before it receives the associated interaction reference on the callback URI.`
If the PATCH request is considered a continuation request (which is reasonable since it is sent to the continuation URI), this would prohibit a PATCH request before the interaction finishes. However, if no interacti

[2021-11-29 09:44] fimbault commented on #353
I believe the cases are covered, even if we could make things clearer probably :
- using PATCH instead of POST aims to provide better signal/control of when the partial update can be made as part of a continuation request (and it needs to use the continue access token)
- when the client can't receive a finish method (redirect or push), then it will need to poll regularly (cf 5.2)

[2021-12-02 21:45] jricher commented on #353
Summary from editor's discussion:

The grant process is stateful, a grant goes from (requested) -> (pending approval) -> (approved), at least. The PATCH request only makes sense to an (approved) grant, the post-interaction requests only make sense for the (pending) grant. We can call out this stateful nature and constrain different requests and inputs to specific states.

[2021-12-02 22:11] jricher opened #354 "Security Consideration: Cuckoo Token Mitigations"
- Client instance uses different keys with each AS
    - Stolen token bound to different keys, RS will reject
- Client has strong binding between RS and AS used
    - Attacker can’t convince client to use “wrong” AS

[2021-12-10 22:12] pq2 opened #361 "How to ensure that the end-user is present?"
[Section 2.5.2.1](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-08.html#request-interact-callback-redirect) states that `the client instance MUST ensure the end-user is present on the request` when using the redirect interaction finish mode.

Perhaps this could be elaborated a bit further. I assume this means that if the redirect interaction start mode is used together with the red

[2021-12-15 19:14] jricher commented on #361
Related to #22

[2021-12-15 21:28] #352 closed

[2021-12-15 21:38] jricher opened #363 "Security Consideration: SSRF attacks"
If the client instance can cause the AS to fetch a URL, especially if that URL is dynamic, this can be used as a means to make the AS call URLs within its own protected domain and cause errors.  Will need to be addressed in new security considerations paragraph.

[2021-12-15 21:43] jricher commented on #361
This is more of a security consideration, so we will remove the normative requirements here and have a wider discussion about the different combinations and deployments and what these all mean for making sure the user is "there" in the different circumstances.

[2021-12-15 21:48] jricher commented on #350
We will add an example in section D that shows how this would work and verify that the language around subject identifiers is sufficiently robust to encapsulate this. This might also add additional security and privacy considerations when used in this mode because multiple people are now involved explicitly.

[2021-12-15 21:52] jricher commented on #147
We should discuss the potential race condition upon any token rotation, and have an allowance for accepting the old token during a short interim window to account for this kind of race condition. The rotation request needs to be idempotent: a repeated rotation request needs to return the same information and not do another rotation.

[2021-12-15 21:58] jricher commented on #146
A grant identifier is not needed in the core protocol. However: editors suggest to write a small companion extension specification to define the use of a grant identifier and an "existing grant" reference to be used for a new request. See also #62

[2021-12-15 21:59] jricher commented on #141
Will make this a REQUIRED field, even if left empty by the AS.

[2021-12-15 22:04] jricher commented on #141
Related: the continuation access token uses the same structure but doesn't have "access" because it's a limited use token already. Should we define a "type" for continuation access tokens in GNAP and use it here? Strawman:

	type: https://url-of-gnap-RFC/
	actions: continue
	locations: grant API URI

Downside? It's always going to be the same, so it might get ignored like "token_type: bearer" is i

[2021-12-15 22:06] jricher commented on #135
Formal analysis has been started by @pq2 et al, results will be incorporated into document when available via text or reference.

[2021-12-15 22:08] jricher commented on #134
Editors will list all intended extension points within Core, probably pulling together all the existing stubs for extensions in different sections into a larger discussion. This would require at least a shell of the IANA section for creating necessary registries.

[2021-12-15 22:11] jricher commented on #131
This discussion gets us close into the identity protocol space, and the method for defining this should be a part of the extensions discussion in #134

[2021-12-15 22:28] jricher commented on #123
Proposal change set: create a three-tier interaction start method to handle different use cases with different dynamic portions:

- long arbitrary URL, suitable for QR code or browser redirect
- short arbitrary URL plus user code, suitable for things like set-top boxes that can't rely on QR codes on secondary devices and can't redirect
- user code alone, no URL included in the response; URL the us

[2021-12-15 22:37] jricher commented on #109
This is a known issue that is discussed in the text, and it is intrinsic to the method.

[2021-12-15 22:47] jricher commented on #105
We've got two types of bound keys:

 - tied to a client's identity (and therefore a registered client's record at the AS, either dynamic or static)
 - tied to an access token (including the continuation access token, since it's not a separate item anymore)

The keys for an access token could be a simple pass-through pointer to the client instance's key, and this will probably be the default style

[2021-12-15 22:53] jricher commented on #104
Currently discussed options:

- keep `GNAP` and have the API look up the binding mechanism and proof it that way
- use a different keyword for each type: `HTTPSig`, `MTLS`, `JWS`, etc.

[2021-12-15 22:58] jricher commented on #103
See discussion at #105

[2021-12-15 23:00] jricher commented on #102
Close by making inclusion of URI REQUIRED.

[2021-12-15 23:04] jricher commented on #101
Keep "MUST if possible" here. If you want two access tokens, use the grant API not the token rotation API. The rotation mechanism should be for getting a new value for an existing token and replacing it, not for minting entirely new separate tokens (which is what the grant continuation/update API is for). We need to keep "if possible" for the case of using stateless tokens (fully self-contained JW

[2021-12-16 21:42] jricher commented on #14
See also #37

[2021-12-17 14:36] pq2 opened #364 "End user/client instance mix-up attack"
This issue is related to issue #361.

When not using the redirect interaction start mode together with the redirect interaction finish mode, depending on how exactly issue #361 is dealt with, the following attack may be possible:
![Replay Angriff-Seite-1 drawio](https://user-images.githubusercontent.com/56400565/146559259-f6273bce-89de-404a-ba51-5985fc7949a8.png)
We assume that an honest end user

[2021-12-17 16:35] jricher commented on #364
Thanks for the extensive writeups and diagrams. This points out what I think are the inherent risks in multi-device setups.

What the editors plan to do for #361 (and #22) is have new security considerations and examples that talk about the combinations of start/finish methods where the kinds of session-based mitigations you describe are actually possible, and warn for the cases where they are not

[2021-12-23 17:22] #354 closed

[2021-12-23 17:22] #154 closed

[2022-01-12 16:41] fimbault commented on #341
Ok, having looked at this issue a bit more
- There are places where URI is intentional, like 4.1.3. Interaction through an Application URI.
- There are places where URI is provided because it's the most generic possibility, e.g. "This URI MUST be protected by HTTPS, be hosted on a server local to the RO's browser ("localhost"), or use an application-specific URI scheme." (2.5.2) or "he client inst